In [1]:
import pandas as pd
import pip
pip.main(["install","openpyxl"])
import openpyxl as xls
from datetime import datetime
customerData=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\customer base data.csv")
customerUniq=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\customer unique id base data.csv")
orderBase=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order base data.csv")

display(customerData,customerUniq,orderBase)

C:\JupyterLab\resources\jlab_server\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in c:\jupyterlab\resources\jlab_server\lib\site-packages (3.0.9)

Requirement already satisfied: et-xmlfile in c:\jupyterlab\resources\jlab_server\lib\site-packages (from openpyxl) (1.1.0)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

                     customer_unique_id customer_state
0      000fbf0473c10fc1ab6f8d2d286ce20c             SP
1      002d71b244beb91ca7030b15ab526446             SP
2      003162bf0351f47a1a247992b8b9b42d             ES
3      00324c9f4d710e7bac5c5ba679714430             TO
4      0032c76b20340da25249092a268ce66c             SP
...                                 ...            ...
96131  ffde9f4d5007c6675904e26947ba4538             MG
96132  ffe9102bb78a76921ba0ff3c4659616a             RJ
96133  ffeb904468642a1ce663a322629801cb             MG
96134  fffb09418989a0dbff854a28163e47c6             RS
96135  fffbf87b7a1a6fa8b03f081c5f51a201             CE

[96136 rows x 2 columns]

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15.0000000,2017-10-04 19:55:00.0000000,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27.0000000,2018-07-26 14:31:00.0000000,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23.0000000,2018-08-08 13:50:00.0000000,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59.0000000,2017-11-22 13:39:59.0000000,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29.0000000,2018-02-14 19:46:34.0000000,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05.0000000,2017-03-10 11:18:03.0000000,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37.0000000,2018-02-07 23:22:42.0000000,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16.0000000,2017-08-28 20:52:26.0000000,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21.0000000,2018-01-12 15:35:03.0000000,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28.0000000,2018-03-09 22:11:59.0000000,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000

In [2]:
dftbm=orderBase.drop(columns=['order_status', 'date_shipped', 'date_arrived','date_estimated'])
display(dftbm)

,order_id,customer_id,date_approved
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 11:07:15.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-26 03:24:27.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:55:23.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:45:59.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 22:20:29.0000000
...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 13:10:37.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 15:04:16.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:36:21.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-09 11:20:28.0000000

In [3]:
dftbmCus=customerData.drop(columns=['customer_zip_code_prefix'])
display(dftbmCus)

,customer_id,customer_unique_id,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,SP
...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,SP

In [4]:
newdf=pd.merge(dftbmCus,dftbm,on="customer_id",how="left")

In [5]:
display(newdf)

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:22:12.0000000
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:58:32.0000000
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-20 16:19:10.0000000
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,2018-03-13 17:29:19.0000000
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 10:10:09.0000000
...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,2018-04-07 16:08:45.0000000
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,2018-04-04 08:35:12.0000000
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,2018-04-08 20:30:03.0000000
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,2017-11-03 21:31:20.0000000
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 18:50:39.0000000

In [6]:
#newdf2=newdf.drop_duplicates("customer_unique_id").reset_index()
#display(newdf2)
newdf['Date'] = pd.to_datetime(newdf['date_approved']).dt.date
display(newdf)

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:22:12.0000000,2017-05-16
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:58:32.0000000,2018-01-12
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-20 16:19:10.0000000,2018-05-20
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,2018-03-13 17:29:19.0000000,2018-03-13
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 10:10:09.0000000,2018-07-29
...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,2018-04-07 16:08:45.0000000,2018-04-07
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,2018-04-04 08:35:12.0000000,2018-04-04
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,2018-04-08 20:30:03.0000000,2018-04-08
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,2017-11-03 21:31:20.0000000,2017-11-03
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 18:50:39.0000000,2017-12-19

In [7]:
orderBase.loc[orderBase["customer_id"]=="06b8999e2fba1a1fbc88172c00ba8bc7"]

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
88492,00e7ee1b050b8499577073aeb2a297a1,06b8999e2fba1a1fbc88172c00ba8bc7,delivered,2017-05-16 15:22:12.0000000,2017-05-23 10:47:57.0000000,2017-05-25 10:35:35.0000000,2017-06-05 00:00:00.0000000

In [8]:
newdf.loc[newdf["customer_id"]=="06b8999e2fba1a1fbc88172c00ba8bc7"]

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:22:12.0000000,2017-05-16

In [11]:
#retention comparison of customers in the first half of 2017 to second half of 2017
#convert string to datetime and arrange two dataframes based on date range
s1H12017 = pd.to_datetime("2017-01-01").date()
e1H12017 = pd.to_datetime("2017-06-30").date()
df1=newdf[(newdf['Date'] > s1H12017) & (newdf['Date'] < e1H12017)].reset_index()
s2H2017 = pd.to_datetime("2017-07-01").date()
e2H2017 = pd.to_datetime("2017-12-31").date()
df2=newdf[(newdf['Date'] > s2H2017) & (newdf['Date'] < e2H2017)].reset_index() 


#drop duplicates based on customer's unique ID
df1Dropped=df1.drop_duplicates("customer_unique_id")
df2Dropped=df2.drop_duplicates("customer_unique_id")

#move unique IDs to list to be compared and then delete the index column that appeared after resetting indexes
l1=df1Dropped['customer_unique_id'].tolist()
l2=df2Dropped['customer_unique_id'].tolist()
del df1Dropped["index"]
del df2Dropped["index"]


display(df1Dropped,df2Dropped)

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:22:12.0000000,2017-05-16
1,9b8ce803689b3562defaad4613ef426f,7f3a72e8f988c6e735ba118d54f47458,sao paulo,SP,17825f24877a9289214c301ae0c9424b,2017-05-13 11:55:16.0000000,2017-05-13
2,237098a64674ae89babdc426746260fc,4390ddbb6276a66ff1736a6710205dca,curitiba,PR,eac4ffbe456464bdc3ce5f001b6439c5,2017-04-14 11:35:23.0000000,2017-04-14
3,6e359a57a91f84095cc64e1b351aef8c,2e6a42a9b5cbb0da62988694f18ee295,sao paulo,SP,a8f5a2b22f55e0af45b300929d1fdc7d,2017-05-15 18:10:18.0000000,2017-05-15
4,b2bed119388167a954382cca36c4777f,e079b18794454de9d2be5c12b4392294,resende,RJ,77b062be7c5bd21712905feb8e1cfeed,2017-06-15 18:43:04.0000000,2017-06-15
...,...,...,...,...,...,...,...
14435,be631308cb609ff74d0e0fb54815e18c,1c137fe37df712015f6488edafe8ece4,aracitaba,MG,b7ae7c643ef9274727f48dcb0ba08593,2017-01-27 11:50:24.0000000,2017-01-27
14436,e5ed7280cd1a3ac2ba29fd6650d8867c,206e64e8af2633a2ebe158a7fcb860db,poa,SP,53cbf33b674d602f6746cb90a9d874fd,2017-05-16 03:25:20.0000000,2017-05-16
14437,ffa6d90c36a9c7004692ca50761c69d6,874c93d867b18eb09a5e2f071ee89458,paulinia,SP,2816b0ec050fb4a136c32a6bda007a91,2017-03-27 16:35:19.0000000,2017-03-27
14438,27b9b32173455ef32167540451749d0b,277490f0d435b602fe4475d4b89e9181,cotia,SP,326c29ec5b89834b17aea7d85302fd70,2017-05-25 02:50:25.0000000,2017-05-25
14439,14308d2303a3e2bdf4939b86c46d2679,e7f8760e2bbd2f1986bebd99596c088e,belem,PA,ec3a75fb0ac595e461765d2d854b1d08,2017-03-15 21:04:08.0000000,2017-03-15

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,5741ea1f91b5fbab2bd2dc653a5b5099,2017-09-14 18:25:11.0000000,2017-09-14
1,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,timoteo,MG,1093c8304c7a003280dd34598194913d,2017-11-16 19:55:41.0000000,2017-11-16
2,9fb35e4ed6f0a14a4977cd9aea4042bb,2a7745e1ed516b289ed9b29c7d0539a5,montes claros,MG,8428e578bb1cf839ae26a6b7615502b9,2017-11-27 18:01:20.0000000,2017-11-27
3,b2d1536598b73a9abd18e0d75d92f0a3,918dc87cd72cd9f6ed4bd442ed785235,lencois paulista,SP,83d8f70418eefd96f37b483dff430305,2017-09-09 10:10:17.0000000,2017-09-09
4,49d0ea0986edde72da777f15456a0ee0,3e6fd6b2f0d499456a6a6820a40f2d79,pacaja,PA,ab797176e01c2fa3d13aa1fe3e63d9ee,2017-11-01 22:06:00.0000000,2017-11-01
...,...,...,...,...,...,...,...
30277,935993f47af1ed7d0715c26b686341c5,4452b8ef472646c4cc042cb31a291f3b,sao jose dos campos,SP,e86b1b2dd48839d7351406434afb578d,2017-11-25 02:33:11.0000000,2017-11-25
30278,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,2017-11-14 12:15:25.0000000,2017-11-14
30279,7fe2e80252a9ea476f950ae8f85b0f8f,4b5820135d360a45552b5163835b1d89,divinopolis,MG,c9aea907527f5d4f5fb44955c18a79fb,2017-12-18 00:17:27.0000000,2017-12-18
30280,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,2017-11-03 21:31:20.0000000,2017-11-03
30281,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 18:50:39.0000000,2017-12-19

In [12]:
l3=list(set(l2).intersection(set(l1))) 
len(l3)

227

In [13]:
def retention(olist, nlist):
    retlist=list(set(nlist).intersection(set(olist))) 
    return(retlist)

In [14]:
len(retention(l1,l2))

227

In [15]:
def retDeci(olist, nlist):
    retlist=list(set(nlist).intersection(set(olist))) 
    return((len(retlist)/len(olist)))

In [16]:
display(retDeci(l1,l2))

0.01612330421194687

In [17]:
#retention comparison of customers in the first half of 2018 to second half of 2018 and year to year
#convert string to datetime and arrange two dataframes based on date range
s1H12018 = pd.to_datetime("2018-01-01").date()
e1H12018 = pd.to_datetime("2018-06-30").date()
df3=newdf[(newdf['Date'] > s1H12018) & (newdf['Date'] < e1H12018)].reset_index()
s2H2018 = pd.to_datetime("2018-07-01").date()
e2H2018 = pd.to_datetime("2018-12-31").date()
df4=newdf[(newdf['Date'] > s2H2018) & (newdf['Date'] < e2H2018)].reset_index() 
s2017 = pd.to_datetime("2017-01-01").date()
e2017 = pd.to_datetime("2017-12-31").date()
df5=newdf[(newdf['Date'] > s2017) & (newdf['Date'] < e2017)].reset_index() 
s2018 = pd.to_datetime("2018-01-01").date()
e2018 = pd.to_datetime("2018-12-31").date()
df6=newdf[(newdf['Date'] >s2018) & (newdf['Date'] < e2018)].reset_index() 

#drop duplicates based on customer's unique ID
df3Dropped=df3.drop_duplicates("customer_unique_id")
df4Dropped=df4.drop_duplicates("customer_unique_id")
df5Dropped=df5.drop_duplicates("customer_unique_id")
df6Dropped=df6.drop_duplicates("customer_unique_id")

#move unique IDs to list to be compared and then delete the index column that appeared after resetting indexes
l4=df3Dropped['customer_unique_id'].tolist()
l5=df4Dropped['customer_unique_id'].tolist()
l6=df5Dropped['customer_unique_id'].tolist()
l7=df6Dropped['customer_unique_id'].tolist()
del df3Dropped["index"]
del df4Dropped["index"]
del df5Dropped["index"]
del df6Dropped["index"]

display(df3Dropped,df4Dropped,df5Dropped,df6Dropped)

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:58:32.0000000,2018-01-12
1,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-20 16:19:10.0000000,2018-05-20
2,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,2018-03-13 17:29:19.0000000,2018-03-13
3,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,sao paulo,SP,36e694cf4cbc2a4803200c35e84abdc4,2018-02-19 14:50:37.0000000,2018-02-19
4,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,curitiba,PR,1ebeea841c590e86a14a0d7a48e7d062,2018-01-18 12:56:32.0000000,2018-01-18
...,...,...,...,...,...,...,...
40983,f255d679c7c86c24ef4861320d5b7675,d111b06b6f3a2add0d2241325f65b5ca,rio claro,SP,ca978d2459ea2c5ef6d5fde02be26b9c,2018-03-06 09:29:07.0000000,2018-03-06
40984,f5a0b560f9e9427792a88bec97710212,b3e53d18a997f27a3ffd16da497eaf58,cajamar,SP,97d6c1727b0d36b8d04035e35d86f40f,2018-05-18 21:55:14.0000000,2018-05-18
40985,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,2018-04-07 16:08:45.0000000,2018-04-07
40986,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,2018-04-04 08:35:12.0000000,2018-04-04
40987,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,2018-04-08 20:30:03.0000000,2018-04-08

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 10:10:09.0000000,2018-07-29
1,a7c125a0a07b75146167b7f04a7f8e98,5c2991dbd08bbf3cf410713c4de5a0b5,rio de janeiro,RJ,72bab69c50432c6f94d8b50a5f84b69a,2018-08-13 23:55:13.0000000,2018-08-13
2,167bd30a409e3e4127df5a9408ebd394,9c0096673baf55453a50073f12d1a37f,goiania,GO,d10eafa208521dc30796e6a26099b6a6,2018-07-14 11:05:18.0000000,2018-07-14
3,4c06b42fbf7b97ab10779cda5549cd1c,07d190f123147d9e89d4b922543d7948,sao luis,MA,997fd4b37386d10b57d4ac8cdec011a6,2018-07-08 10:30:15.0000000,2018-07-08
4,4a0e66fd30684aa1409cd1b66fec77cc,86085586aaa8c5f47ed0b400da64c59d,guarulhos,SP,42cebac003b40e6aa0b3e37b99d83c2f,2018-07-10 04:05:12.0000000,2018-07-10
...,...,...,...,...,...,...,...
12663,cf1ec2659f4b1f34f858a0c25e1d5d1a,592134387e7f13de6a9e38eb7d412b3d,parnamirim,RN,f90d9d087252c72d1f8a43c65f16f515,2018-08-04 04:05:31.0000000,2018-08-04
12664,4951ae40c746cbd07eecef33fc053e89,e18e1db417f0bc97f9065c4aeae3f9d3,macaubas,BA,9eb075cc33882ff5997d289a55aab488,2018-07-28 09:24:17.0000000,2018-07-28
12665,f6c6d3e1e20969a5eed982163f959719,fb354969e06f2093c0083cbfbb91864e,sao paulo,SP,b2f58affcc178fea2daaf834f1acff5e,2018-07-17 04:31:33.0000000,2018-07-17
12666,330786b82d1da4f900da3f8124a9f4f0,ff2331f4155cedbbbca83885595b1208,juquitiba,SP,72f3f62e2e4208804e2c4ed8a28ead52,2018-07-20 05:05:16.0000000,2018-07-20
12667,c156d63bdfce1d456bd43cf1c4dadfca,e5cf9da72b751849b7b217f7a943d0fa,santo andre,SP,98484b32a3bbf287f3347e001275ed21,2018-07-21 08:24:16.0000000,2018-07-21

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:22:12.0000000,2017-05-16
1,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,5741ea1f91b5fbab2bd2dc653a5b5099,2017-09-14 18:25:11.0000000,2017-09-14
2,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,timoteo,MG,1093c8304c7a003280dd34598194913d,2017-11-16 19:55:41.0000000,2017-11-16
3,9fb35e4ed6f0a14a4977cd9aea4042bb,2a7745e1ed516b289ed9b29c7d0539a5,montes claros,MG,8428e578bb1cf839ae26a6b7615502b9,2017-11-27 18:01:20.0000000,2017-11-27
4,b2d1536598b73a9abd18e0d75d92f0a3,918dc87cd72cd9f6ed4bd442ed785235,lencois paulista,SP,83d8f70418eefd96f37b483dff430305,2017-09-09 10:10:17.0000000,2017-09-09
...,...,...,...,...,...,...,...
44904,27b9b32173455ef32167540451749d0b,277490f0d435b602fe4475d4b89e9181,cotia,SP,326c29ec5b89834b17aea7d85302fd70,2017-05-25 02:50:25.0000000,2017-05-25
44905,14308d2303a3e2bdf4939b86c46d2679,e7f8760e2bbd2f1986bebd99596c088e,belem,PA,ec3a75fb0ac595e461765d2d854b1d08,2017-03-15 21:04:08.0000000,2017-03-15
44906,7fe2e80252a9ea476f950ae8f85b0f8f,4b5820135d360a45552b5163835b1d89,divinopolis,MG,c9aea907527f5d4f5fb44955c18a79fb,2017-12-18 00:17:27.0000000,2017-12-18
44907,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,2017-11-03 21:31:20.0000000,2017-11-03
44908,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 18:50:39.0000000,2017-12-19

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:58:32.0000000,2018-01-12
1,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-20 16:19:10.0000000,2018-05-20
2,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,2018-03-13 17:29:19.0000000,2018-03-13
3,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 10:10:09.0000000,2018-07-29
4,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,sao paulo,SP,36e694cf4cbc2a4803200c35e84abdc4,2018-02-19 14:50:37.0000000,2018-02-19
...,...,...,...,...,...,...,...
53925,f255d679c7c86c24ef4861320d5b7675,d111b06b6f3a2add0d2241325f65b5ca,rio claro,SP,ca978d2459ea2c5ef6d5fde02be26b9c,2018-03-06 09:29:07.0000000,2018-03-06
53926,f5a0b560f9e9427792a88bec97710212,b3e53d18a997f27a3ffd16da497eaf58,cajamar,SP,97d6c1727b0d36b8d04035e35d86f40f,2018-05-18 21:55:14.0000000,2018-05-18
53927,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,2018-04-07 16:08:45.0000000,2018-04-07
53928,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,2018-04-04 08:35:12.0000000,2018-04-04
53929,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,2018-04-08 20:30:03.0000000,2018-04-08

In [39]:
#also lets try 2nd 1/2 2017 to 2nd half 2018
df7=newdf[(newdf['Date'] > s2H2017) & (newdf['Date'] < e2H2017)].reset_index() 
df8=newdf[(newdf['Date'] >s2018) & (newdf['Date'] < e2018)].reset_index()

df7Dropped=df7.drop_duplicates("customer_unique_id")
df8Dropped=df8.drop_duplicates("customer_unique_id")

l8=df7Dropped['customer_unique_id'].tolist()
l9=df8Dropped['customer_unique_id'].tolist()

del df7Dropped["index"]
del df8Dropped["index"]


display(df7Dropped,df8Dropped)

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,5741ea1f91b5fbab2bd2dc653a5b5099,2017-09-14 18:25:11.0000000,2017-09-14
1,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,timoteo,MG,1093c8304c7a003280dd34598194913d,2017-11-16 19:55:41.0000000,2017-11-16
2,9fb35e4ed6f0a14a4977cd9aea4042bb,2a7745e1ed516b289ed9b29c7d0539a5,montes claros,MG,8428e578bb1cf839ae26a6b7615502b9,2017-11-27 18:01:20.0000000,2017-11-27
3,b2d1536598b73a9abd18e0d75d92f0a3,918dc87cd72cd9f6ed4bd442ed785235,lencois paulista,SP,83d8f70418eefd96f37b483dff430305,2017-09-09 10:10:17.0000000,2017-09-09
4,49d0ea0986edde72da777f15456a0ee0,3e6fd6b2f0d499456a6a6820a40f2d79,pacaja,PA,ab797176e01c2fa3d13aa1fe3e63d9ee,2017-11-01 22:06:00.0000000,2017-11-01
...,...,...,...,...,...,...,...
30277,935993f47af1ed7d0715c26b686341c5,4452b8ef472646c4cc042cb31a291f3b,sao jose dos campos,SP,e86b1b2dd48839d7351406434afb578d,2017-11-25 02:33:11.0000000,2017-11-25
30278,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,2017-11-14 12:15:25.0000000,2017-11-14
30279,7fe2e80252a9ea476f950ae8f85b0f8f,4b5820135d360a45552b5163835b1d89,divinopolis,MG,c9aea907527f5d4f5fb44955c18a79fb,2017-12-18 00:17:27.0000000,2017-12-18
30280,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,2017-11-03 21:31:20.0000000,2017-11-03
30281,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 18:50:39.0000000,2017-12-19

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:58:32.0000000,2018-01-12
1,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-20 16:19:10.0000000,2018-05-20
2,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,2018-03-13 17:29:19.0000000,2018-03-13
3,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 10:10:09.0000000,2018-07-29
4,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,sao paulo,SP,36e694cf4cbc2a4803200c35e84abdc4,2018-02-19 14:50:37.0000000,2018-02-19
...,...,...,...,...,...,...,...
53925,f255d679c7c86c24ef4861320d5b7675,d111b06b6f3a2add0d2241325f65b5ca,rio claro,SP,ca978d2459ea2c5ef6d5fde02be26b9c,2018-03-06 09:29:07.0000000,2018-03-06
53926,f5a0b560f9e9427792a88bec97710212,b3e53d18a997f27a3ffd16da497eaf58,cajamar,SP,97d6c1727b0d36b8d04035e35d86f40f,2018-05-18 21:55:14.0000000,2018-05-18
53927,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,2018-04-07 16:08:45.0000000,2018-04-07
53928,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,2018-04-04 08:35:12.0000000,2018-04-04
53929,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,2018-04-08 20:30:03.0000000,2018-04-08

In [40]:
display(df7.loc[df7["customer_unique_id"]=="4c93744516667ad3b8f1fb645a3116a4"],df7Dropped.loc[df7Dropped["customer_unique_id"]=="4c93744516667ad3b8f1fb645a3116a4"])

,index,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,5741ea1f91b5fbab2bd2dc653a5b5099,2017-09-14 18:25:11.0000000,2017-09-14
20310,66803,802bb9a59876a712f8380da8f297057c,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,98b737f8bd00d73d9f61f7344aadf717,2017-10-15 13:05:29.0000000,2017-10-15

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date
0,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,jaragua do sul,SC,5741ea1f91b5fbab2bd2dc653a5b5099,2017-09-14 18:25:11.0000000,2017-09-14

In [41]:
display(retDeci(l1,l2),retDeci(l4,l5),(retDeci(l1,l5)),(retDeci(l6,l7)))

0.01612330421194687

0.004340126212865731

0.002983166418069465

0.015526309745285835

In [42]:
display(len(retention(l1,l2)),len(retention(l4,l5)),len(retention(l1,l5)),len(retention(l6,l7)))

227

174

42

676

In [43]:
tb1 = pd.DataFrame()
nV=["Jan:Jun 2017 - July:Dec 2017",
    "July:Dec 2017- Jan:Jun 2018",
    "Jan:Jun 2018 - July:Dec 2018",
    "Jan:Jun 2017 - July:Dec 2018",
    "All of 2017-All of 2018"]
vV=[len(retention(l1,l2)),
    len(retention(l8,l9)),
        len(retention(l4,l5)),
        len(retention(l1,l5)),
        len(retention(l6,l7))]
dV=[retDeci(l1,l2),
    retDeci(l8,l9),
        retDeci(l4,l5),
        retDeci(l1,l5),
        retDeci(l6,l7)]
tb1["Retention Range"]=nV
tb1["# of People Retained Over"]=vV
tb1["Retention Rate"]=dV

display(tb1)

                Retention Range  # of People Retained Over  Retention Rate
0  Jan:Jun 2017 - July:Dec 2017                        227        0.016123
1   July:Dec 2017- Jan:Jun 2018                        487        0.016505
2  Jan:Jun 2018 - July:Dec 2018                        174        0.004340
3  Jan:Jun 2017 - July:Dec 2018                         42        0.002983
4       All of 2017-All of 2018                        676        0.015526

In [25]:
excelFile= pd.ExcelWriter('Retention1.xlsx')

tb1.to_excel(excelFile)

excelFile.save()

tb1.to_csv('Retention1.csv')

In [23]:
tb2 = pd.DataFrame()
pH1=retention(l1,l2)
pH2=retention(l4,l5)
pH3=retention(l1,l5)
pH4=retention(l6,l7)

tb2["Jan:Jun 2017 - July:Dec 2017"]=pH1
tb2 = pd.concat([tb2,pd.Series(pH2)], ignore_index=False, axis=1, names="hi")
tb2 = pd.concat([tb2,pd.Series(pH3)], ignore_index=False, axis=1)
tb2 = pd.concat([tb2,pd.Series(pH4)], ignore_index=False, axis=1)

tb2.columns = ['Jan:Jun 2017 - July:Dec 2017', 'Jan:Jun 2018 - July:Dec 2018', 'Jan:Jun 2017 - July:Dec 2018', "All of 2017-All of 2018"]
tb2= tb2.fillna("")
display(tb2)

,Jan:Jun 2017 - July:Dec 2017,Jan:Jun 2018 - July:Dec 2018,Jan:Jun 2017 - July:Dec 2018,All of 2017-All of 2018
0,95160caf14611a705759de6bf13555b6,1d7e8be24bca64576da891970638bfe3,1b6e96ed99cb8d135efe220d761bbd67,c17dec01473d89441bb6a93fcb58e663
1,d8f979fcfc0ce686f6abf5af5f5217d4,8e49d21f0335c3013583f2b3f99f8e25,eb4520b16c32518b6615f2d50f1be1bb,e9659b474a13413b36c7a5c1e6d7055b
2,0b402d6dd50694a118c642448e2cb086,93eeb8745a219d35b7e32d796528b681,e219a439f6ca99e32824bcc7153969c9,ee4a5dab94b427525ea24bc30d4442fb
3,99b026061fefe9ff09cdd0e745a9233e,d58760239457cc420d92744d97087921,8d50f5eadf50201ccdcedfb9e2ac8455,01886ef98f995e4f2dd75a1d04c97397
4,718d5855edf637b8e2f213db87dab93d,2028c90d6c4523ae70a285c44010258a,d8f3c4f441a9b59a29f977df16724f38,f561632522774ab728bb93f8f3ab5e61
...,...,...,...,...
671,,,,c7819760e70376028f519e3b57e6c441
672,,,,327a01a6885ecfda06a3d5c50fb515c3
673,,,,f8bc1d81f395f6239a2a5ab1b9edf1ab
674,,,,2a34af7c4b1b83d78b14cf6b9c32c3b9
675,,,,a783997c6d6e57782d4d2dcbc5c9edaf

In [114]:
excelFile= pd.ExcelWriter('Retention2.xlsx')

tb2.to_excel(excelFile)

excelFile.save()

tb2.to_csv('Retention2.csv')

In [24]:
#retention by state
tb3=tb2.drop(columns=['Jan:Jun 2018 - July:Dec 2018','Jan:Jun 2017 - July:Dec 2018',"All of 2017-All of 2018"])
tb4=tb2.drop(columns=['Jan:Jun 2017 - July:Dec 2017','Jan:Jun 2017 - July:Dec 2018',"All of 2017-All of 2018"])
tb5=tb2.drop(columns=['Jan:Jun 2017 - July:Dec 2017','Jan:Jun 2018 - July:Dec 2018',"All of 2017-All of 2018"])
tb6=tb2.drop(columns=['Jan:Jun 2017 - July:Dec 2017','Jan:Jun 2018 - July:Dec 2018',"Jan:Jun 2017 - July:Dec 2018"])

tb3.replace("", float("NaN"), inplace=True)
tb3.dropna(inplace=True)
tb4.replace("", float("NaN"), inplace=True)
tb4.dropna(inplace=True)
tb5.replace("", float("NaN"), inplace=True)
tb5.dropna(inplace=True)
tb6.replace("", float("NaN"), inplace=True)
tb6.dropna(inplace=True)

tb3.columns = ['customer_unique_id']
tb4.columns = ['customer_unique_id']
tb5.columns = ['customer_unique_id']
tb6.columns = ['customer_unique_id']

display(tb3,tb4,tb5,tb6)

                   customer_unique_id
0    95160caf14611a705759de6bf13555b6
1    d8f979fcfc0ce686f6abf5af5f5217d4
2    0b402d6dd50694a118c642448e2cb086
3    99b026061fefe9ff09cdd0e745a9233e
4    718d5855edf637b8e2f213db87dab93d
..                                ...
222  d059a0ec4c911c7abb10602099670325
223  f0e310a6839dce9de1638e0fe5ab282a
224  9d8130e675ce6c1f24cd519444f7642b
225  3871b0ab0166a2f441fa762f5206cacc
226  95ec7fc6a1605502060075958c3f9852

[227 rows x 1 columns]

                   customer_unique_id
0    1d7e8be24bca64576da891970638bfe3
1    8e49d21f0335c3013583f2b3f99f8e25
2    93eeb8745a219d35b7e32d796528b681
3    d58760239457cc420d92744d97087921
4    2028c90d6c4523ae70a285c44010258a
..                                ...
169  927f5d7e01917bb3b8aeb3260ca42663
170  7d87ba0bd6466390cf5d4c9735236086
171  1450ca0539e1e64a77c08ba841c8be94
172  0efd5025e6544ef110881866b945d0cc
173  7b05e0471103ce0ef346e87c357273fe

[174 rows x 1 columns]

                  customer_unique_id
0   1b6e96ed99cb8d135efe220d761bbd67
1   eb4520b16c32518b6615f2d50f1be1bb
2   e219a439f6ca99e32824bcc7153969c9
3   8d50f5eadf50201ccdcedfb9e2ac8455
4   d8f3c4f441a9b59a29f977df16724f38
5   b9badb100ff8ecc16a403111209e3a06
6   7e7301841ddb4064c2f3a31e4c154932
7   0178b244a5c281fb2ade54038dd4b161
8   5d323409404dee6bdb0f6cf9ef828dae
9   9b7fcfa05fb6f8b88fea3d74a6ba77d6
10  ee04cc9bca4c9198bec5c54c2542dd3b
11  46da36c3df7118852b770394d1ba2be5
12  21559d7ff0ebff720e5e160184338fed
13  0ef7b906320b21fe4d39f99496aaa2d8
14  4d9e104764077f7dfae917c7cc803212
15  a1c61f8566347ec44ea37d22854634a1
16  549a24530925587e2faddb35f667e458
17  423d40b193638955a782839886648464
18  796214f3f3b496b3b116986185984393
19  8cfc5350efe3bce6a0d6f96fbaf2c3b4
20  e53fd5575f1418397aae732c5755b6fc
21  97258e1c1f77f32358eccd1c9ee5954d
22  8fdb30046559b506b2ea1588cdfded0d
23  31d332d20895c5c0baefe55207a0fead
24  8f6ce2295bdbec03cd50e34b4bd7ba0a
25  aff7f8b5669fbc5d6f6097ce45e63b19
26  a262442e3ab89611b44877c7aaf77468
27  cd6c68c5fad15e0a5a5c1150546704e0
28  dc48b0a1b0e6abb6586f322c189f6b93
29  313febe2adc914a7cb3f6e903f8e13cf
30  5eefb861d4921a3e628bbc65c50a480a
31  30b782a79466007756f170cb5bd6bbd8
32  1b7b7f9631cd453251d0b328c9b38a2a
33  46ed126bcf1df6e195dbc63d7c320983
34  c7819760e70376028f519e3b57e6c441
35  4facc2e6fbc2bffab2fea92d2b4aa7e4
36  4041baa51d9eae8f5955ccd4f02bb044
37  71a92fd3087501bcfba6e6e1ef7e8fd7
38  2e49a3bbeb76297ee0ff49df39c2456c
39  4702ba5faa8283e0f6b6a545cdaf8a9f
40  d6db3091e8c13023bf1e6d367b8c0847
41  7f5dcde4d292354dd5e6968a27971126

                   customer_unique_id
0    c17dec01473d89441bb6a93fcb58e663
1    e9659b474a13413b36c7a5c1e6d7055b
2    ee4a5dab94b427525ea24bc30d4442fb
3    01886ef98f995e4f2dd75a1d04c97397
4    f561632522774ab728bb93f8f3ab5e61
..                                ...
671  c7819760e70376028f519e3b57e6c441
672  327a01a6885ecfda06a3d5c50fb515c3
673  f8bc1d81f395f6239a2a5ab1b9edf1ab
674  2a34af7c4b1b83d78b14cf6b9c32c3b9
675  a783997c6d6e57782d4d2dcbc5c9edaf

[676 rows x 1 columns]

In [30]:
newdf['Date'] = pd.to_datetime(newdf['date_approved']).dt.date
newdf['Quarter'] = pd.to_datetime(newdf['Date']).dt.quarter
newdf['Quarter_Info'] = pd.to_datetime(newdf['Date']).dt.to_period('Q')
newdf

,customer_id,customer_unique_id,customer_city,customer_state,order_id,date_approved,Date,Quarter,Quarter_Info
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:22:12.0000000,2017-05-16,2.0,2017Q2
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:58:32.0000000,2018-01-12,1.0,2018Q1
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-20 16:19:10.0000000,2018-05-20,2.0,2018Q2
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,2018-03-13 17:29:19.0000000,2018-03-13,1.0,2018Q1
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 10:10:09.0000000,2018-07-29,3.0,2018Q3
...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,2018-04-07 16:08:45.0000000,2018-04-07,2.0,2018Q2
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,2018-04-04 08:35:12.0000000,2018-04-04,2.0,2018Q2
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,2018-04-08 20:30:03.0000000,2018-04-08,2.0,2018Q2
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,2017-11-03 21:31:20.0000000,2017-11-03,4.0,2017Q4
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,2017-12-19 18:50:39.0000000,2017-12-19,4.0,2017Q4

In [31]:
excelFile= pd.ExcelWriter('Retention Main.xlsx')

newdf.to_excel(excelFile)

excelFile.save()

newdf.to_csv('Retention Main.csv')

In [34]:
tb3v2=pd.merge(tb3,newdf,on="customer_unique_id",how="left")
tb3v2=tb3v2.drop_duplicates("customer_unique_id").reset_index()
del tb3v2["index"]
tb3v2

tb4v2=pd.merge(tb4,newdf,on="customer_unique_id",how="left")
tb4v2=tb4v2.drop_duplicates("customer_unique_id").reset_index()
del tb4v2["index"]

tb5v2=pd.merge(tb5,newdf,on="customer_unique_id",how="left")
tb5v2=tb5v2.drop_duplicates("customer_unique_id").reset_index()
del tb5v2["index"]

tb6v2=pd.merge(tb6,newdf,on="customer_unique_id",how="left")
tb6v2=tb6v2.drop_duplicates("customer_unique_id").reset_index()
del tb6v2["index"]

display(tb3v2,tb4v2,tb5v2,tb6v2)

,customer_unique_id,customer_id,customer_city,customer_state,order_id,date_approved,Date,Quarter,Quarter_Info
0,95160caf14611a705759de6bf13555b6,2cd3f81c5206d91f8f77a3848d4cc883,porto alegre,RS,740b489def00f1dd64ba1d3c169020ba,2017-05-30 04:30:38.0000000,2017-05-30,2.0,2017Q2
1,d8f979fcfc0ce686f6abf5af5f5217d4,2b25f2ba843e1bae62f28c7f43211a06,mossoro,RN,0aa1d9509ae8e0c76c03ad7ba91dc81a,2017-05-12 08:40:05.0000000,2017-05-12,2.0,2017Q2
2,0b402d6dd50694a118c642448e2cb086,a06ff1b7fe5a96a9449fed853d1dc62f,guarapari,ES,11302d4542ca6da5b505416f9e04f0a8,2017-11-26 20:53:40.0000000,2017-11-26,4.0,2017Q4
3,99b026061fefe9ff09cdd0e745a9233e,299d84d9cf972bb72487b9e76f02eee3,campinas,SP,f9d9c91f3bc0804469f897454dcf2a78,2017-06-06 17:55:21.0000000,2017-06-06,2.0,2017Q2
4,718d5855edf637b8e2f213db87dab93d,aaa558d0c007b22e0f16af83de54582c,brasilia,DF,b80ba0f0c3d2a63feac0116f533cc6a9,2017-10-16 15:27:50.0000000,2017-10-16,4.0,2017Q4
...,...,...,...,...,...,...,...,...,...
222,d059a0ec4c911c7abb10602099670325,18c97899df0947157d3e829e27aeaba4,cotia,SP,8aa9f9fb8d016c8abd90a65dcd7f2ab6,2017-01-25 21:25:09.0000000,2017-01-25,1.0,2017Q1
223,f0e310a6839dce9de1638e0fe5ab282a,e1b7e606f7b8f4064b028acf1e961c19,vitoria,ES,f2270ae03c6578b9cb6e4bba286bc962,2018-04-05 09:15:19.0000000,2018-04-05,2.0,2018Q2
224,9d8130e675ce6c1f24cd519444f7642b,f1c95802730af255b21b1bffaf202154,imbituva,PR,ec7450aa92a97c3397d0f535a6a78030,2017-07-12 01:03:59.0000000,2017-07-12,3.0,2017Q3
225,3871b0ab0166a2f441fa762f5206cacc,65eb3588197e862f2f8b129ff7a9d3bb,guarulhos,SP,388093f2361bae7f871b80bf9673e2ee,2017-06-18 16:10:12.0000000,2017-06-18,2.0,2017Q2
226,95ec7fc6a1605502060075958c3f9852,3d9ff586104e795e9cda5d0fb1705c13,guararapes,SP,0fefd780aced50487fedea40b67318b5,2017-09-12 14:30:30.0000000,2017-09-12,3.0,2017Q3

,customer_unique_id,customer_id,customer_city,customer_state,order_id,date_approved,Date,Quarter,Quarter_Info
0,1d7e8be24bca64576da891970638bfe3,969769c94ebf3a6fa4c36060dbffab4e,itauna,MG,30f5bfc25003d29ee5207083263d3ee6,2018-07-24 10:32:28.0000000,2018-07-24,3.0,2018Q3
1,8e49d21f0335c3013583f2b3f99f8e25,c7cebd7aae0dd4903dbd5396b7731639,sao paulo,SP,b53a5ae7a42c37159e3cc26b92174246,2018-06-25 11:18:21.0000000,2018-06-25,2.0,2018Q2
2,93eeb8745a219d35b7e32d796528b681,210b65c1eb5a1df0da71126a258cfdc3,niteroi,RJ,18045b4512947089463f5efbdaa3c341,2018-07-09 16:25:23.0000000,2018-07-09,3.0,2018Q3
3,d58760239457cc420d92744d97087921,5fb7662b5f14f01c2a37b381becceca4,marica,RJ,880ba0831c3fe181b5096a98d3c755e4,2018-03-26 20:47:01.0000000,2018-03-26,1.0,2018Q1
4,2028c90d6c4523ae70a285c44010258a,514ddcd76b9dacf06eada289ded5255f,sao bernardo do campo,SP,2f09d13518fa692574874a78444c616d,2018-03-15 03:16:18.0000000,2018-03-15,1.0,2018Q1
...,...,...,...,...,...,...,...,...,...
169,927f5d7e01917bb3b8aeb3260ca42663,13c2dbc76e00f0ef236e19d51354e90a,rio de janeiro,RJ,86e15c44520932e049ca96660a60b776,2018-06-01 21:35:12.0000000,2018-06-01,2.0,2018Q2
170,7d87ba0bd6466390cf5d4c9735236086,0a4570cba5c976d25642d380f906327a,santana de parnaiba,SP,0e9a725e04f3fbc13f28d8f17c861013,2018-08-10 21:30:18.0000000,2018-08-10,3.0,2018Q3
171,1450ca0539e1e64a77c08ba841c8be94,972e7c5340efc85efad5a12e49eff86a,araras,SP,a236ae70310b60403c3adac81f96d5e6,2018-07-17 00:35:16.0000000,2018-07-17,3.0,2018Q3
172,0efd5025e6544ef110881866b945d0cc,8b8ef7402703c4775339a4a261f4ab44,sao paulo,SP,8ad3ff8de0c9473f99616e4dd7bfe7fb,2018-08-10 03:30:09.0000000,2018-08-10,3.0,2018Q3
173,7b05e0471103ce0ef346e87c357273fe,948a5aa4913457adb9094c5f3f308ac3,rio de janeiro,RJ,b9b862b71dd3a13f37bbb72f2addc949,2018-07-27 13:55:17.0000000,2018-07-27,3.0,2018Q3

,customer_unique_id,customer_id,customer_city,customer_state,order_id,date_approved,Date,Quarter,Quarter_Info
0,1b6e96ed99cb8d135efe220d761bbd67,003ec17a1389fa302f3a0423dddd8650,monte mor,SP,92c15142e314731cebdb5b1cd25962ac,2018-01-14 17:36:34.0000000,2018-01-14,1.0,2018Q1
1,eb4520b16c32518b6615f2d50f1be1bb,1809a4d9621d6e57cbee32249da47055,bauru,SP,aeb70ca14a984230b34a6cbf48fe6d8a,2018-07-26 09:05:11.0000000,2018-07-26,3.0,2018Q3
2,e219a439f6ca99e32824bcc7153969c9,c5cfb8b6f3e65d58ff632e69610c68ad,niteroi,RJ,4de39e6ed70e6add419cd6560467478d,2018-07-18 17:30:19.0000000,2018-07-18,3.0,2018Q3
3,8d50f5eadf50201ccdcedfb9e2ac8455,1bd3585471932167ab72a84955ebefea,sao paulo,SP,b850a16d8faf65a74c51287ef34379ce,2017-11-22 20:12:32.0000000,2017-11-22,4.0,2017Q4
4,d8f3c4f441a9b59a29f977df16724f38,554e72ada8751c515ab293a7605b530e,sao bernardo do campo,SP,b2947cf9a8d3084369dfcbe9663dd545,2018-08-25 04:05:18.0000000,2018-08-25,3.0,2018Q3
5,b9badb100ff8ecc16a403111209e3a06,928194af995122dd13f29b05cedc6a68,sao paulo,SP,05ec9565bccc292561dec1d33bfefdfa,2018-08-05 11:30:16.0000000,2018-08-05,3.0,2018Q3
6,7e7301841ddb4064c2f3a31e4c154932,9e36e87b2ed55c78b24bd7a4b58be3a0,sao goncalo,RJ,2e8080693faebedb3ba68531167c6313,2018-07-14 19:50:18.0000000,2018-07-14,3.0,2018Q3
7,0178b244a5c281fb2ade54038dd4b161,ea6ba2b2e27f7efea73bdeab7fd6e4a0,novo horizonte,SP,94ca38619d7e64f94facac403a99682d,2018-07-30 16:05:13.0000000,2018-07-30,3.0,2018Q3
8,5d323409404dee6bdb0f6cf9ef828dae,fc9fdbf5a26b1399e70bb3666cf7f9e6,rio de janeiro,RJ,1397417a57ad1bbfe8d639df8cdee908,2018-07-02 18:31:03.0000000,2018-07-02,3.0,2018Q3
9,9b7fcfa05fb6f8b88fea3d74a6ba77d6,ca8d56a19c40cfcdba873cbe942e5013,embu-guacu,SP,44d14514a06127f72cd96745ed0eed21,2018-07-10 04:35:21.0000000,2018-07-10,3.0,2018Q3
10,ee04cc9bca4c9198bec5c54c2542dd3b,0681069ba05876a097555609e2496d1f,suzano,SP,a147b97f47abbdb02f67ea00da442cd8,2018-08-06 08:55:23.0000000,2018-08-06,3.0,2018Q3
11,46da36c3df7118852b770394d1ba2be5,fc8da044983142c6a87d308b2cbfb76f,sao paulo,SP,dc8155452b97affece4c5a698beb11f6,2017-06-22 01:35:09.0000000,2017-06-22,2.0,2017Q2
12,21559d7ff0ebff720e5e160184338fed,d11e21eb43c005333b4e9f0e279eec3c,londrina,PR,ac00b2ff2ee93f4ac33b64cd6b656ab4,2017-06-11 06:35:15.0000000,2017-06-11,2.0,2017Q2
13,0ef7b906320b21fe4d39f99496aaa2d8,f77149c522ac4a85491db62d14ce04aa,sao joao de meriti,RJ,9b21580d9a140962daa66b493fa50248,2018-08-07 04:44:41.0000000,2018-08-07,3.0,2018Q3
14,4d9e104764077f7dfae917c7cc803212,da7d9ea4de7fce7d6544ff08872e9bf7,vila velha,ES,c4c1257d437761ebf697da82b5cca4e1,2018-07-24 10:31:48.0000000,2018-07-24,3.0,2018Q3
15,a1c61f8566347ec44ea37d22854634a1,8e3ca91f267437eb1244bdfad334a7ca,varginha,MG,5d5158a88e86989b64a41c1c2aff9125,2017-03-19 08:36:36.0000000,2017-03-19,1.0,2017Q1
16,549a24530925587e2faddb35f667e458,29b458c3156da95a3f75c5f92ae6826c,amparo,SP,ab208b143122e9e71bd46dbe322baf85,2018-06-23 19:39:07.0000000,2018-06-23,2.0,2018Q2
17,423d40b193638955a782839886648464,bc968b98be25adf5cf08936c394b6b99,juiz de fora,MG,417f3a2950fc1952340b349f0dcc7a25,2017-04-22 21:50:16.0000000,2017-04-22,2.0,2017Q2
18,796214f3f3b496b3b116986185984393,d2fb78d5116de6f334f7d6584b316869,rio de janeiro,RJ,0e93edf664c68e407889c757350ef76a,2018-08-18 16:10:04.0000000,2018-08-18,3.0,2018Q3
19,8cfc5350efe3bce6a0d6f96fbaf2c3b4,0e24c20739fc582fda3306fc43683aa1,claudio,MG,e7c5ccfc34c262f8f9240ade57e01ed7,2018-08-05 12:50:11.0000000,2018-08-05,3.0,2018Q3
20,e53fd5575f1418397aae732c5755b6fc,bde8a1d2a7c3d0a34605532f55689054,americana,SP,f0af25b55365e27fbd6a93df45d9253f,2018-08-20 11:15:22.0000000,2018-08-20,3.0,2018Q3
21,97258e1c1f77f32358eccd1c9ee5954d,002ebb669a34b9e79c88efc755e95322,rio das ostras,RJ,e3d651007ef1548b71b4285ca0f484e4,2018-08-11 12:55:26.0000000,2018-08-11,3.0,2018Q3
22,8fdb30046559b506b2ea1588cdfded0d,dfd081b5b9924847379085046ea374e9,rio de janeiro,RJ,d3dd51abe467d226f8be61f48388eba2,2018-07-25 11:30:19.0000000,2018-07-25,3.0,2018Q3
23,31d332d20895c5c0baefe55207a0fead,f8a6c76a11c39f882026319b654fab69,ubatuba,SP,4e285df63acf5fe19cbb76253626fe8d,2018-04-19 01:30:12.0000000,2018-04-19,2.0,2018Q2
24,8f6ce2295bdbec03cd50e34b4bd7ba0a,5a36bd2a84d5b3f6ea920871476935e0,marica,RJ,849eace12a4c38cc5d4647af9f942eff,2017-02-09 13:11:15.0000000,2017-02-09,1.0,2017Q1
25,aff7f8b5669fbc5d6f6097ce45e63b19,ba54cfc321d2626f125c2b07f1aeaa89,paulo frontin,PR,d6e8c00fe3761c680d73781f517b7e63,2018-07-05 18:35:13.0000000,2018-07-05,3.0,2018Q3
26,a262442e3ab89611b44877c7aaf77468,10031ad7752b10374ba516be41953b6c,sao cristovao,SE,5d6ca8d2f39c609dc330b731dc5777cb,2017-02-17 18:35:21.0000000,2017-02-17,1.0,2017Q1
27,cd6c68c5fad15e0a5a5c1150546704e0,6640e9f8151ad65f948011756c423e9d,limeira,SP,e90d8a867960fe909ecb460cb3a9e4d1,2018-08-13 18:35:26.0000000,2018-08-13,3.0,2018Q3
28,dc48b0a1b0e6abb6586f322c189f6b93,0f2091dc4350fae3b3ce7b81a55c86b1,salvador,BA,34ca4adf4033386240f7ac16f25b14c1,2017-11-28 21:36:37.0000000,2017-11-28,4.0,2017Q4
29,313febe2adc914a7cb3f6e903f8e13cf,59e70f1a3f114665e9d5e636b52c2607,jundiai,SP,5a42abf0eee65d3a1e361aa49561a521,2018-08-15 03:10:18.0000000,2018-08-15,3.0,2018Q3
30,5eefb861d4921a3e628bbc65c50a480a,e9666f09e30dc136efd23315bc14e106,belo horizonte,MG,ea27276ae0fbab49a3e542b3f44f6fd4,2017-03-07 03:55:24.0000000,2017-03-07,1.0,2017Q1
31,30b782a79466007756f170cb5bd6bbd8,84bbde28c3ea5a89111357183bd40edc,sao paulo,SP,b741ced31205b787eebdd0cc7f220b0a,2017-02-20 21:25:20.0000000,2017-02-20,1.0,2017Q1
32,1b7b7f9631cd453251d0b328c9b38a2a,243a74d750e4a5b7cc57b953746cdfd0,sao leopoldo,RS,efe5bb701ff507ffa4736a7c07be50d2,2017-03-22 12:27:15.0000000,2017-03-22,1.0,2017Q1
33,46ed126bcf1df6e195dbc63d7c320983,10a61fa7ba3ccbaf8b3fc8e49f763ddf,barra mansa,RJ,d37f6eeb2d27fc449e65051940060719,2018-08-21 09:15:21.0000000,2018-08-21,3.0,2018Q3
34,c7819760e70376028f519e3b57e6c441,e8a7df4eee97cecb90adaff30ab1774d,mariluz,PR,537716eaf03b0a1904be0663cbcdafa9,2018-08-03 14:30:19.0000000,2018-08-03,3.0,2018Q3
35,4facc2e6fbc2bffab2fea92d2b4aa7e4,a47eef7a7043f321d272a603771704a2,porto alegre,RS,b9b426ab253dc328825da35f1bad83f9,2017-06-18 23:30:11.0000000,2017-06-18,2.0,2017Q2
36,4041baa51d9eae8f5955ccd4f02bb044,725134f3d737109269ea38978e83138c,contagem,MG,5852550cf22fcb9c36345a0b65992ff5,2017-05-19 02:30:36.0000000,2017-05-19,2.0,2017Q2
37,71a92fd3087501bcfba6e6e1ef7e8fd7,cca5d26d25eee25b59a3f801a6fe855e,rio de janeiro,RJ,88a82da4cb2eb4723c9965285fe826c9,2018-08-10 13:50:19.0000000,2018-08-10,3.0,2018Q3
38,2e49a3bbeb76297ee0ff49df39c2456c,8f308e7e5aead948f03f2a0454e2a50a,rio de janeiro,RJ,7f081049d243d9a51d4235dfc310a73f,2018-08-20 12:10:18.0000000,2018-08-20,3.0,2018Q3
39,4702ba5faa8283e0f6b6a545cdaf8a9f,e69e27216b375e2c7e1be6298b051bf2,triunfo,PE,02358a9949662b292e80635305dea78b,2017-05-17 04:05:19.0000000,2017-05-17,2.0,2017Q2
40,d6db3091e8c13023bf1e6d367b8c0847,790df320333ffa133fea78a257a556bc,monte carlo,SC,9edb4a65f2f453139e9dba567889dc0e,2017-06-05 10:05:16.0000000,2017-06-05,2.0,2017Q2
41,7f5dcde4d292354dd5e6968a27971126,ef9b40908237d483aab345ed6b7a977c,sao paulo,SP,b9fffd14dc2869d69f441ff3c8f34bab,2017-04-08 20:05:15.0000000,2017-04-08,2.0,2017Q2

,customer_unique_id,customer_id,customer_city,customer_state,order_id,date_approved,Date,Quarter,Quarter_Info
0,c17dec01473d89441bb6a93fcb58e663,e1be54348f99cd564abe01493dbb0a69,lima duarte,MG,cc3de1b196170ae020cf79cde9883058,2017-11-15 02:51:24.0000000,2017-11-15,4.0,2017Q4
1,e9659b474a13413b36c7a5c1e6d7055b,4c0cb12e17ea629768715f19c804f78f,itapira,SP,c14737c81e2d9c598a89e4f7cb240a5e,2018-03-15 13:30:06.0000000,2018-03-15,1.0,2018Q1
2,ee4a5dab94b427525ea24bc30d4442fb,28c784571d92457311cecc16e66688e0,paramirim,BA,d8a46fc8e10a38b3756d7e677b3f6ab0,2017-11-14 04:10:43.0000000,2017-11-14,4.0,2017Q4
3,01886ef98f995e4f2dd75a1d04c97397,7f6a3aaafc26964ec75650f5b487de99,sao paulo,SP,f17c68f902fd50e36d9c37ccf4c85870,2017-11-27 22:37:24.0000000,2017-11-27,4.0,2017Q4
4,f561632522774ab728bb93f8f3ab5e61,d76a58f32a3cd7ddd6b1b301e6562263,florianopolis,SC,66fbfbe9598df1bb7b5950b19e839697,2017-06-06 13:45:48.0000000,2017-06-06,2.0,2017Q2
...,...,...,...,...,...,...,...,...,...
671,c7819760e70376028f519e3b57e6c441,e8a7df4eee97cecb90adaff30ab1774d,mariluz,PR,537716eaf03b0a1904be0663cbcdafa9,2018-08-03 14:30:19.0000000,2018-08-03,3.0,2018Q3
672,327a01a6885ecfda06a3d5c50fb515c3,9ae373da25d193f8f853a8eebbe2ea96,mage,RJ,c3ede21d18f8a162209aa5c1eecb0385,2017-08-18 02:25:45.0000000,2017-08-18,3.0,2017Q3
673,f8bc1d81f395f6239a2a5ab1b9edf1ab,b52548625e32de3e7e0dca735663ec8b,belo horizonte,MG,a6264125a9c50827b115847d47c73a13,2017-10-06 15:14:26.0000000,2017-10-06,4.0,2017Q4
674,2a34af7c4b1b83d78b14cf6b9c32c3b9,e3e5c15c73942261d698533066c9c3d8,sao paulo,SP,bb9bdfcd9397da3c8481ef70b92df0c0,2017-11-08 02:26:25.0000000,2017-11-08,4.0,2017Q4
675,a783997c6d6e57782d4d2dcbc5c9edaf,5ce9ae3923690dd36249c49da1d264a6,porto seguro,BA,a3a7ac8f07fa7b6b6d24e489a43b479d,2017-04-03 17:50:18.0000000,2017-04-03,2.0,2017Q2

In [38]:
excelFile1= pd.ExcelWriter('Retention of 1st Half 2017 to 2nd Half 2017.xlsx')
excelFile2= pd.ExcelWriter('Retention 1st Half 2018 to 2nd Half 2018.xlsx')
excelFile3= pd.ExcelWriter('Retention 1st Half 2017 to 1st Half 2018.xlsx')
excelFile4= pd.ExcelWriter('Retention All of 2017 to All of 2018.xlsx')

tb3v2.to_excel(excelFile1)
tb4v2.to_excel(excelFile2)
tb5v2.to_excel(excelFile3)
tb6v2.to_excel(excelFile4)

excelFile1.save()
excelFile2.save()
excelFile3.save()
excelFile4.save()

tb3v2.to_csv('Retention of 1st Half 2017 to 2nd Half 2017.csv')
tb4v2.to_csv('Retention 1st Half 2018 to 2nd Half 2018.csv')
tb5v2.to_csv('Retention 1st Half 2017 to 1st Half 2018.csv')
tb6v2.to_csv('Retention All of 2017 to All of 2018.csv')