In [148]:
import pandas as pd
import pip
pip.main(["install","openpyxl"])
import openpyxl as xls
from datetime import datetime

reviewInfo=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\review data.csv")
orderBase=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order base data.csv")
customerData=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\customer base data.csv")
productInfo=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\product info data.csv")
productInEng=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\product name translator data.csv")
orderItems=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order items data.csv")

display(reviewInfo,orderBase,customerData,productInfo,productInEng,orderItems)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in c:\jupyterlab\resources\jlab_server\lib\site-packages (3.0.9)

Requirement already satisfied: et-xmlfile in c:\jupyterlab\resources\jlab_server\lib\site-packages (from openpyxl) (1.1.0)

,review_id,order_id,date_sent,review_score
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5
...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15.0000000,2017-10-04 19:55:00.0000000,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27.0000000,2018-07-26 14:31:00.0000000,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23.0000000,2018-08-08 13:50:00.0000000,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59.0000000,2017-11-22 13:39:59.0000000,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29.0000000,2018-02-14 19:46:34.0000000,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05.0000000,2017-03-10 11:18:03.0000000,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37.0000000,2018-02-07 23:22:42.0000000,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16.0000000,2017-08-28 20:52:26.0000000,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21.0000000,2018-01-12 15:35:03.0000000,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28.0000000,2018-03-09 22:11:59.0000000,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

,product_id,product_category_name,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0
...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0

                     product_name            english_translation
0           product_category_name  product_category_name_english
1                    beleza_saude                  health_beauty
2          informatica_acessorios          computers_accessories
3                      automotivo                           auto
4                 cama_mesa_banho                 bed_bath_table
..                            ...                            ...
67                         flores                        flowers
68             artes_e_artesanato          arts_and_craftmanship
69                fraldas_higiene            diapers_and_hygiene
70  fashion_roupa_infanto_juvenil      fashion_childrens_clothes
71             seguros_e_servicos          security_and_services

[72 rows x 2 columns]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35.0000000,58.90
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13.0000000,239.90
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30.0000000,199.00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18.0000000,12.99
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51.0000000,199.90
...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01.0000000,299.99
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48.0000000,350.00
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25.0000000,99.90
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32.0000000,55.99
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13.0000000,43.00

In [170]:
orderMerge=orderBase.drop(columns=['date_approved','date_shipped','date_arrived','date_estimated'])
#orderMerge2=orderMerge.loc[orderMerge["order_Status"
customerMerge=customerData.drop(columns=['customer_unique_id','customer_zip_code_prefix','customer_city'])
productMerge=productInfo.drop(columns=['product_photos_qty'])
orItemMerge=orderItems.drop(columns=['seller_id','shipping_limit_date','price'])


tb1=pd.merge(reviewInfo,orderMerge,on="order_id",how="left")
tb2=pd.merge(tb1,customerMerge,on="customer_id",how="inner")
tb3=pd.merge(tb2,orItemMerge,on="order_id", how="left",indicator=True)

display(tb1,tb2,tb3)

,review_id,order_id,date_sent,review_score,customer_id,order_status
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5,5986b333ca0d44534a156a52a8e33a83,delivered
...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,SP
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered,BA
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,SC
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5,5986b333ca0d44534a156a52a8e33a83,delivered,SC
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered,GO
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered,RJ
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered,MG
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered,MG
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered,SP

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state,order_item_id,product_id,_merge
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP,1.0,fd25ab760bfbba13c198fa3b4f1a0cd3,both
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP,2.0,fd25ab760bfbba13c198fa3b4f1a0cd3,both
2,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,SP,1.0,be0dbdc3d67d55727a65d4cd696ca73c,both
3,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered,BA,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,both
4,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,SC,1.0,52c80cedd4e90108bf4fa6a206ef6b03,both
...,...,...,...,...,...,...,...,...,...,...
113126,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered,GO,1.0,4fb209073dc2ab6a6d3c259a7c285501,both
113127,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered,RJ,1.0,3a33c980b62eb1ef3b8ae61b6fc6fe55,both
113128,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered,MG,1.0,8ba0118a487ec8671aed57e5ef846574,both
113129,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered,MG,1.0,73a7fbf8c1048131f3b531af31bcdf0e,both
113130,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered,SP,1.0,8fbd36d3b045f5f38b252b1513478f38,both

In [48]:
tb3.sort_values(by=['order_item_id'], ascending=False)

,review_id,order_id,date_sent,review_score,customer_id,customer_state,order_item_id,product_id,_merge
17136,e8236fe7b6e1bdd513a500de361e2b87,8272b63d03f5f79c56e9e4120aec44ef,2017-07-30 00:00:00.0000000,1,fc3d1daec319d62d49bfb5e1f83123e9,SP,21.0,79ce45dbc2ea29b22b5a261bbb7b7ee7,both
66738,be332150a9c96e68c9565ea53cba2355,1b15974a0141d54e36626dca3fdc731a,2018-03-06 00:00:00.0000000,1,be1b70680b9f9694d8c70f41fa3dc92b,SP,20.0,ee3d532c8a438679776d222e997606b3,both
17135,e8236fe7b6e1bdd513a500de361e2b87,8272b63d03f5f79c56e9e4120aec44ef,2017-07-30 00:00:00.0000000,1,fc3d1daec319d62d49bfb5e1f83123e9,SP,20.0,270516a3f41dc035aa87d220228f844c,both
66737,be332150a9c96e68c9565ea53cba2355,1b15974a0141d54e36626dca3fdc731a,2018-03-06 00:00:00.0000000,1,be1b70680b9f9694d8c70f41fa3dc92b,SP,19.0,ee3d532c8a438679776d222e997606b3,both
17134,e8236fe7b6e1bdd513a500de361e2b87,8272b63d03f5f79c56e9e4120aec44ef,2017-07-30 00:00:00.0000000,1,fc3d1daec319d62d49bfb5e1f83123e9,SP,19.0,270516a3f41dc035aa87d220228f844c,both
...,...,...,...,...,...,...,...,...,...
112721,cb57684d699f3678723ea12f03cd881c,8cacf6d8c088e18ca96ee6d5a138461b,2017-06-25 00:00:00.0000000,1,5885d2cdadfe2bfd47d3b8221e0685eb,RS,NaN,NaN,left_only
112812,1fdbe363e853974e87d8f498d32065ea,d17cbd88da86748917f52864d1be98d0,2018-03-17 00:00:00.0000000,1,bf3a896f3dd013f63ca58bb72b813fc5,SP,NaN,NaN,left_only
112818,1ddd65e557c027e7df4a50416417a2e4,fddbd183387b5c9bcbafbd0fe965301f,2017-10-21 00:00:00.0000000,1,bade46d49478a63c01dca6a9ae49dfa9,PR,NaN,NaN,left_only
112924,71fd2bd9edec8a1cd368a5fa173979d6,4a5cf649e3eb500fc079aace5f03583e,2018-03-30 00:00:00.0000000,1,128433c9283a98b6eddefd309edc7e00,MG,NaN,NaN,left_only
113119,3ea12859f456855149b564d1a221f87a,f62f01ec64c6b221f926ba560907d8f7,2017-04-05 00:00:00.0000000,3,a35ef57cd99a99e77e58316ab0cc2927,SP,NaN,NaN,left_only

In [ ]:
t1=pd.merge(reviewInfo[reviewInfo.order_id.duplicated(keep=False)],orderItems, on="order_id", how="left",indicator=True)
 
display(reviewInfo[reviewInfo.order_id.duplicated(keep=False)],t1.sort_values(by=['order_item_id'], ascending=False))

,review_id,order_id,date_sent,review_score
30,540e7bbb2d06cfb7f85f3a88ba7ac97f,cf73e2cb1f4a9480ed70c154da3d954a,2018-01-18 00:00:00.0000000,5
344,a0a641414ff718ca079b3967ef5c2495,169d7e0fd71d624d306f132acd791cbe,2018-03-04 00:00:00.0000000,5
498,505a882ba08a689682a4afc6eb4e5965,1c308eca3f339414a92e518e2a2e5ee9,2017-12-28 00:00:00.0000000,2
764,c5976a5a98e854fb23d7e03c6754ae60,2002ea16e75277eaa0b5d78632048540,2017-08-08 00:00:00.0000000,5
778,62c7722239b976d943ec0d430cfe890e,1d297b4800ed1a3c5b0944d84c01ee99,2017-10-22 00:00:00.0000000,3
...,...,...,...,...
98989,dfb3db02188d809d5cd199496b6da87e,c0db7d31ace61fc360a3eaa34dd3457c,2018-02-17 00:00:00.0000000,5
99108,2c6c08892b83ba4c1be33037c2842294,42ae1967f68c90bb325783ac55d761ce,2017-07-03 00:00:00.0000000,4
99164,2afe63a67dfd99b3038f568fb47ee761,c5334d330e36d2a810a7a13c72e135ee,2018-03-03 00:00:00.0000000,5
99178,44d1e9165ec54b1d89d33594856af859,a7dbcf5043158d6fa72859eead2f3d10,2017-05-24 00:00:00.0000000,4
99199,40743b46a0ee86375cedb95e82b78d75,3e93213bb8fdda91186b4018b2fe0030,2018-08-08 00:00:00.0000000,5

,review_id,order_id,date_sent,review_score,order_item_id,product_id,seller_id,shipping_limit_date,price,_merge
1138,e8f500e8052dd5fac20fee5a8c880367,5a3b1c29a49756e75f1ef513383c0c12,2017-10-23 00:00:00.0000000,1,11.0,399f54c06661d06ca45c6e24ed238e0e,d2374cbcbb3ca4ab1086534108cc3ab7,2017-10-24 13:06:21.0000000,61.9,both
387,27c23f74895a5643693407f4618d18fd,5a3b1c29a49756e75f1ef513383c0c12,2017-10-31 00:00:00.0000000,1,11.0,399f54c06661d06ca45c6e24ed238e0e,d2374cbcbb3ca4ab1086534108cc3ab7,2017-10-24 13:06:21.0000000,61.9,both
386,27c23f74895a5643693407f4618d18fd,5a3b1c29a49756e75f1ef513383c0c12,2017-10-31 00:00:00.0000000,1,10.0,d25bbb182b51d1594fe3b54a27ae143e,cfb1a033743668a192316f3c6d1d2671,2017-10-24 13:06:21.0000000,69.9,both
1137,e8f500e8052dd5fac20fee5a8c880367,5a3b1c29a49756e75f1ef513383c0c12,2017-10-23 00:00:00.0000000,1,10.0,d25bbb182b51d1594fe3b54a27ae143e,cfb1a033743668a192316f3c6d1d2671,2017-10-24 13:06:21.0000000,69.9,both
1136,e8f500e8052dd5fac20fee5a8c880367,5a3b1c29a49756e75f1ef513383c0c12,2017-10-23 00:00:00.0000000,1,9.0,e95fb3a80ca294f39de925b6428f3a32,d2374cbcbb3ca4ab1086534108cc3ab7,2017-10-24 13:06:21.0000000,78.9,both
...,...,...,...,...,...,...,...,...,...,...
449,8fca97544a1d5a56a7077b1b9f9c6df7,ceb533871105f7cda81fafc19e1ee38e,2017-11-15 00:00:00.0000000,1,NaN,NaN,NaN,NaN,NaN,left_only
469,38821b5c496b678cf91acc34892805ad,02e723e8edb4a123d414f56cc9c4665e,2017-09-03 00:00:00.0000000,5,NaN,NaN,NaN,NaN,NaN,left_only
561,39b4603793c1c7f5f36d809b4a218664,02e723e8edb4a123d414f56cc9c4665e,2017-09-01 00:00:00.0000000,5,NaN,NaN,NaN,NaN,NaN,left_only
916,686eece1abf58531d6f183ce10905c95,151e44f3dd461fe0838b6f59f884749f,2018-03-23 00:00:00.0000000,1,NaN,NaN,NaN,NaN,NaN,left_only
1199,588785ae600e2f07f4cbb031d2208ba3,151e44f3dd461fe0838b6f59f884749f,2018-03-09 00:00:00.0000000,4,NaN,NaN,NaN,NaN,NaN,left_only

In [175]:
tb3v2=tb3.drop_duplicates("order_id",keep="first").reset_index()
del tb3v2["index"]
display(tb3v2)

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state,order_item_id,product_id,_merge
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP,1.0,fd25ab760bfbba13c198fa3b4f1a0cd3,both
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,SP,1.0,be0dbdc3d67d55727a65d4cd696ca73c,both
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered,BA,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,both
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,SC,1.0,52c80cedd4e90108bf4fa6a206ef6b03,both
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5,5986b333ca0d44534a156a52a8e33a83,delivered,SC,1.0,3880d25d502b15b1de6fddc42ad1d67a,both
...,...,...,...,...,...,...,...,...,...,...
98668,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered,GO,1.0,4fb209073dc2ab6a6d3c259a7c285501,both
98669,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered,RJ,1.0,3a33c980b62eb1ef3b8ae61b6fc6fe55,both
98670,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered,MG,1.0,8ba0118a487ec8671aed57e5ef846574,both
98671,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered,MG,1.0,73a7fbf8c1048131f3b531af31bcdf0e,both
98672,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered,SP,1.0,8fbd36d3b045f5f38b252b1513478f38,both

In [176]:
tb3v3=pd.merge(tb3v2,productMerge, on="product_id", how="left")

tb3v3

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state,order_item_id,product_id,_merge,product_category_name
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP,1.0,fd25ab760bfbba13c198fa3b4f1a0cd3,both,esporte_lazer
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,SP,1.0,be0dbdc3d67d55727a65d4cd696ca73c,both,informatica_acessorios
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered,BA,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,both,informatica_acessorios
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,SC,1.0,52c80cedd4e90108bf4fa6a206ef6b03,both,ferramentas_jardim
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5,5986b333ca0d44534a156a52a8e33a83,delivered,SC,1.0,3880d25d502b15b1de6fddc42ad1d67a,both,esporte_lazer
...,...,...,...,...,...,...,...,...,...,...,...
98668,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered,GO,1.0,4fb209073dc2ab6a6d3c259a7c285501,both,moveis_decoracao
98669,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered,RJ,1.0,3a33c980b62eb1ef3b8ae61b6fc6fe55,both,brinquedos
98670,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered,MG,1.0,8ba0118a487ec8671aed57e5ef846574,both,papelaria
98671,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered,MG,1.0,73a7fbf8c1048131f3b531af31bcdf0e,both,esporte_lazer
98672,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered,SP,1.0,8fbd36d3b045f5f38b252b1513478f38,both,informatica_acessorios

In [178]:
tb3v3.columns = ['review_id',
                 'order_id',
                 'date_sent',
                 'review_score',
                 'customer_id',
                 'order_status',
                 'customer_state',
                 'order_item_id',
                 'product_id',
                 '_merge',
                 'product_name']



tb3vF=pd.merge(tb3v3,productInEng, on="product_name", how="left")

display (tb3vF)

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state,order_item_id,product_id,_merge,product_name,english_translation
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP,1.0,fd25ab760bfbba13c198fa3b4f1a0cd3,both,esporte_lazer,sports_leisure
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,SP,1.0,be0dbdc3d67d55727a65d4cd696ca73c,both,informatica_acessorios,computers_accessories
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered,BA,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,both,informatica_acessorios,computers_accessories
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,SC,1.0,52c80cedd4e90108bf4fa6a206ef6b03,both,ferramentas_jardim,garden_tools
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5,5986b333ca0d44534a156a52a8e33a83,delivered,SC,1.0,3880d25d502b15b1de6fddc42ad1d67a,both,esporte_lazer,sports_leisure
...,...,...,...,...,...,...,...,...,...,...,...,...
98668,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered,GO,1.0,4fb209073dc2ab6a6d3c259a7c285501,both,moveis_decoracao,furniture_decor
98669,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered,RJ,1.0,3a33c980b62eb1ef3b8ae61b6fc6fe55,both,brinquedos,toys
98670,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered,MG,1.0,8ba0118a487ec8671aed57e5ef846574,both,papelaria,stationery
98671,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered,MG,1.0,73a7fbf8c1048131f3b531af31bcdf0e,both,esporte_lazer,sports_leisure
98672,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered,SP,1.0,8fbd36d3b045f5f38b252b1513478f38,both,informatica_acessorios,computers_accessories

In [179]:
excelFile= pd.ExcelWriter('Review Analysis Both Years Combined.xlsx')

tb3vF.to_excel(excelFile)

excelFile.save()

tb3vF.to_csv('Review Analysis Both Years Combined.csv')

In [181]:
tb3vF['Date'] = pd.to_datetime(tb3vF['date_sent']).dt.date

s2017 = pd.to_datetime("2017-01-01").date()
e2017 = pd.to_datetime("2017-12-31").date()
df1=tb3vF[(tb3vF['Date'] > s2017) & (tb3vF['Date'] < e2017)].reset_index()
s2018 = pd.to_datetime("2018-01-01").date()
e2018 = pd.to_datetime("2018-12-31").date()
df2=tb3vF[(tb3vF['Date'] > s2018) & (tb3vF['Date'] < e2018)].reset_index()

del df1["index"]
del df2["index"]

display(df1,df2)

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state,order_item_id,product_id,_merge,product_name,english_translation,Date
0,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,SC,1.0,52c80cedd4e90108bf4fa6a206ef6b03,both,ferramentas_jardim,garden_tools,2017-04-21
1,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,2017-07-16 00:00:00.0000000,5,840be0730010e9580efd289bc9f37706,delivered,SP,1.0,3152a0c0d93abeec99e4a6169aecc88b,both,cama_mesa_banho,bed_bath_table,2017-07-16
2,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,2017-05-17 00:00:00.0000000,5,daf813bc2e41c86027d086e8dfb35571,delivered,SP,1.0,35afc973633aaeb6b877ff57b2793310,both,casa_conforto,home_confort,2017-05-17
3,c9cfd2d5ab5911836ababae136c3a10c,cdf9aa68e72324eeb25c7de974696ee2,2017-12-23 00:00:00.0000000,5,272b46feddddc51904608ddd90feee33,delivered,MG,1.0,25e2023ed83352bde98dc1490d14c3d8,both,brinquedos,toys,2017-12-23
4,96052551d87e5f62e6c9f6974ec392e9,3d374c9e46530bb5ed4a7648915306a6,2017-12-19 00:00:00.0000000,5,b1af08103e1e17838522e5b9fbe2ed11,delivered,MG,1.0,7c03e2562178adecc404571f7c52db4e,both,ferramentas_jardim,garden_tools,2017-12-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42301,8eff18f2dba837af3a03329b574f12ec,ae89f3c648838ad99ed4616f05b2662a,2017-06-20 00:00:00.0000000,5,96126c52e2b0c58916768743af639500,delivered,RJ,1.0,9cb67ae6cec5627ef21cbadcdb357054,both,perfumaria,perfumery,2017-06-20
42302,3ea12859f456855149b564d1a221f87a,f62f01ec64c6b221f926ba560907d8f7,2017-04-05 00:00:00.0000000,3,a35ef57cd99a99e77e58316ab0cc2927,unavailable,SP,NaN,NaN,left_only,NaN,NaN,2017-04-05
42303,c6b270c61f67c9f7cb07d84ea8aeaf8b,48f7ee67313eda32bfcf5b9c1dd9522d,2017-12-13 00:00:00.0000000,5,3d7697c0971cb2606444adae322d8bb3,delivered,SC,1.0,186fe07c8b8005ec6a498587ffbc1352,both,relogios_presentes,watches_gifts,2017-12-13
42304,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered,RJ,1.0,3a33c980b62eb1ef3b8ae61b6fc6fe55,both,brinquedos,toys,2017-12-09
42305,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered,SP,1.0,8fbd36d3b045f5f38b252b1513478f38,both,informatica_acessorios,computers_accessories,2017-07-03

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state,order_item_id,product_id,_merge,product_name,english_translation,Date
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP,1.0,fd25ab760bfbba13c198fa3b4f1a0cd3,both,esporte_lazer,sports_leisure,2018-01-18
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,SP,1.0,be0dbdc3d67d55727a65d4cd696ca73c,both,informatica_acessorios,computers_accessories,2018-03-10
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered,BA,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,both,informatica_acessorios,computers_accessories,2018-02-17
3,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5,5986b333ca0d44534a156a52a8e33a83,delivered,SC,1.0,3880d25d502b15b1de6fddc42ad1d67a,both,esporte_lazer,sports_leisure,2018-03-01
4,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,2018-04-13 00:00:00.0000000,1,eecafc3ff695f031bfe354a9fff9d437,delivered,SP,1.0,c45d02cc82cd779835094de9b29272cb,both,cama_mesa_banho,bed_bath_table,2018-04-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55927,115d72425fc59eec9a2e9d7594c6d93d,acd45245723df7cb52772a34416b41b1,2018-05-08 00:00:00.0000000,3,486ce94ccf26c511ab93d31fefd5de0e,delivered,MG,1.0,30ccf4724f5227265f837e9ba0246278,both,malas_acessorios,luggage_accessories,2018-05-08
55928,af2dc0519de6e0720ef0c74292fb4114,d699c734a0b1c8111f2272a3f36d398c,2018-04-27 00:00:00.0000000,5,0c7e5a2123d793a5b2059cca7f650dc8,delivered,SP,1.0,b9ca577f48894c59a9677f895f9a44bc,both,livros_interesse_geral,books_general_interest,2018-04-27
55929,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered,GO,1.0,4fb209073dc2ab6a6d3c259a7c285501,both,moveis_decoracao,furniture_decor,2018-07-07
55930,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered,MG,1.0,8ba0118a487ec8671aed57e5ef846574,both,papelaria,stationery,2018-03-22
55931,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered,MG,1.0,73a7fbf8c1048131f3b531af31bcdf0e,both,esporte_lazer,sports_leisure,2018-07-01

In [182]:
excelFile2= pd.ExcelWriter('Review Analysis 2017.xlsx')

df1.to_excel(excelFile2)

excelFile2.save()

df1.to_csv('Review Analysis 2017.csv')

excelFile3= pd.ExcelWriter('Review Analysis 2018.xlsx')

df2.to_excel(excelFile3)

excelFile3.save()

df2.to_csv('Review Analysis 2018.csv')

In [183]:
tb3vF['Date'] = pd.to_datetime(tb3vF['date_sent']).dt.date
tb3vF['Quarter'] = pd.to_datetime(tb3vF['Date']).dt.quarter
tb3vF['Quarter_Info'] = pd.to_datetime(tb3vF['Date']).dt.to_period('Q')
tb3vF

,review_id,order_id,date_sent,review_score,customer_id,order_status,customer_state,order_item_id,product_id,_merge,product_name,english_translation,Date,Quarter,Quarter_Info
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,2018-01-18 00:00:00.0000000,4,41dcb106f807e993532d446263290104,delivered,SP,1.0,fd25ab760bfbba13c198fa3b4f1a0cd3,both,esporte_lazer,sports_leisure,2018-01-18,1,2018Q1
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,2018-03-10 00:00:00.0000000,5,8a2e7ef9053dea531e4dc76bd6d853e6,delivered,SP,1.0,be0dbdc3d67d55727a65d4cd696ca73c,both,informatica_acessorios,computers_accessories,2018-03-10,1,2018Q1
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-17 00:00:00.0000000,5,e226dfed6544df5b7b87a48208690feb,delivered,BA,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,both,informatica_acessorios,computers_accessories,2018-02-17,1,2018Q1
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,2017-04-21 00:00:00.0000000,5,de6dff97e5f1ba84a3cd9a3bc97df5f6,delivered,SC,1.0,52c80cedd4e90108bf4fa6a206ef6b03,both,ferramentas_jardim,garden_tools,2017-04-21,2,2017Q2
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,2018-03-01 00:00:00.0000000,5,5986b333ca0d44534a156a52a8e33a83,delivered,SC,1.0,3880d25d502b15b1de6fddc42ad1d67a,both,esporte_lazer,sports_leisure,2018-03-01,1,2018Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98668,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,2018-07-07 00:00:00.0000000,5,d8c466a3e7c4cda36cd4ae7d577f44f4,delivered,GO,1.0,4fb209073dc2ab6a6d3c259a7c285501,both,moveis_decoracao,furniture_decor,2018-07-07,3,2018Q3
98669,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,2017-12-09 00:00:00.0000000,5,d0d7086dea6fcf42b9b690b9f3745c58,delivered,RJ,1.0,3a33c980b62eb1ef3b8ae61b6fc6fe55,both,brinquedos,toys,2017-12-09,4,2017Q4
98670,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,2018-03-22 00:00:00.0000000,5,fcc7b1caafe3b77fd587bab964c4d1fb,delivered,MG,1.0,8ba0118a487ec8671aed57e5ef846574,both,papelaria,stationery,2018-03-22,1,2018Q1
98671,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,2018-07-01 00:00:00.0000000,4,3aa00401736823c73e9fe8683328fa6b,delivered,MG,1.0,73a7fbf8c1048131f3b531af31bcdf0e,both,esporte_lazer,sports_leisure,2018-07-01,3,2018Q3
98672,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,2017-07-03 00:00:00.0000000,1,f6fff47846276bed044b63474bd38884,delivered,SP,1.0,8fbd36d3b045f5f38b252b1513478f38,both,informatica_acessorios,computers_accessories,2017-07-03,3,2017Q3

In [184]:
excelFile= pd.ExcelWriter('Review Analysis Both Years Combined.xlsx')

tb3vF.to_excel(excelFile)

excelFile.save()

tb3vF.to_csv('Review Analysis Both Years Combined.csv')