In [8]:
import pandas as pd
from datetime import datetime
import pip
pip.main(["install","openpyxl"])
import openpyxl as xls



orderBase=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order base data.csv")
display(orderBase)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in c:\jupyterlab\resources\jlab_server\lib\site-packages (3.0.9)

Requirement already satisfied: et-xmlfile in c:\jupyterlab\resources\jlab_server\lib\site-packages (from openpyxl) (1.1.0)

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15.0000000,2017-10-04 19:55:00.0000000,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27.0000000,2018-07-26 14:31:00.0000000,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23.0000000,2018-08-08 13:50:00.0000000,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59.0000000,2017-11-22 13:39:59.0000000,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29.0000000,2018-02-14 19:46:34.0000000,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05.0000000,2017-03-10 11:18:03.0000000,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37.0000000,2018-02-07 23:22:42.0000000,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16.0000000,2017-08-28 20:52:26.0000000,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21.0000000,2018-01-12 15:35:03.0000000,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28.0000000,2018-03-09 22:11:59.0000000,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000

In [9]:
#place holder for later
days_ahead_or_behind=[ ]

#orderBWI= orderBase without invoices (delivered items only) 
orderBWI=orderBase.loc[orderBase['order_status']=='delivered']

#loop that caluculates difference of days from date_arrived to date_estimated
for num in range (orderBWI.shape[0]):
    x=datetime.strptime(orderBWI.iloc[num,6], "%Y-%m-%d  %H:%M:%S.0000000")-datetime.strptime(orderBWI.iloc[num,5], "%Y-%m-%d  %H:%M:%S.0000000")
    days_ahead_or_behind+= [x.days + 1]

In [10]:
orderID=orderBWI['order_id'].tolist()#converted order_id values into a list 
dA = orderBWI['date_arrived'].tolist()
dE= orderBWI['date_estimated'].tolist()

ab = pd.DataFrame(orderID, columns={'Order ID'}) #create new dataframe

ab['Day Arrived']=dA #add list to dataframe
ab['Arrival Estimated']=dE
ab['Days Ahead or Behind Schedule']=days_ahead_or_behind 

display(ab)

,Order ID,Day Arrived,Arrival Estimated,Days Ahead or Behind Schedule
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000,8
1,53cdb2fc8bc7dce0b6741e2150273451,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000,6
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000,18
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000,13
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000,10
...,...,...,...,...
96473,9c5dedf39a927c1b2549525ed64a053c,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000,11
96474,63943bddc261676b46f01ca7ac2f7bd8,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000,2
96475,83c1379a015df1e13d02aae0204711ab,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000,6
96476,11c177c8e97725db2631073c19f07b62,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000,21
96477,66dea50a8b16d9b4dee7af250b4be1a5,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000,18

In [19]:

excelFile= pd.ExcelWriter('Days ahead or behind.xlsx')

ab.to_excel(excelFile)

excelFile.save()

ab.to_csv('Days ahead or behind.csv')