In [143]:
#find out how fast shipping was, or if it met the targeted scheduled [efficiency focused]
import pandas as pd
from datetime import datetime
orderBase=pd.read_csv(r'Data tables/order base data.csv')
display(orderBase)

#testing out how datetimes work and its formats
date_object = datetime.strptime(orderBase.iloc[3,3], "%Y-%m-%d  %H:%M:%S.0000000")
date_object2 = datetime.strptime(orderBase.iloc[2,3], "%Y-%m-%d  %H:%M:%S.0000000")
print(date_object,date_object2)
date_object2-date_object

#place holder for later
days_ahead_or_behind=[ ]

#orderBWI= orderBase without invoices (delivered items only) 
orderBWI=orderBase.loc[orderBase['order_status']=='delivered']

#loop that caluculates difference of days from date_arrived to date_estimated
for num in range (orderBWI.shape[0]):
    x=datetime.strptime(orderBWI.iloc[num,6], "%Y-%m-%d  %H:%M:%S.0000000")-datetime.strptime(orderBWI.iloc[num,5], "%Y-%m-%d  %H:%M:%S.0000000")
    days_ahead_or_behind+= [x.days + 1]

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15.0000000,2017-10-04 19:55:00.0000000,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27.0000000,2018-07-26 14:31:00.0000000,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23.0000000,2018-08-08 13:50:00.0000000,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59.0000000,2017-11-22 13:39:59.0000000,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29.0000000,2018-02-14 19:46:34.0000000,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05.0000000,2017-03-10 11:18:03.0000000,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37.0000000,2018-02-07 23:22:42.0000000,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16.0000000,2017-08-28 20:52:26.0000000,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21.0000000,2018-01-12 15:35:03.0000000,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28.0000000,2018-03-09 22:11:59.0000000,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000

2017-11-18 19:45:59 2018-08-08 08:55:23

In [144]:
display(days_ahead_or_behind[:10])

[8, 6, 18, 13, 10, 6, 12, 32, 7, 9]

In [152]:
orderID=orderBWI['order_id'].tolist()#converted order_id values into a list 
dA = orderBWI['date_arrived'].tolist()
dE= orderBWI['date_estimated'].tolist()

In [153]:
len(days_ahead_or_behind) #confirmed length matches dataframe rows without invoced orders

96478

In [154]:
display(orderID[:10])

['e481f51cbdc54678b7cc49136f2d6af7',
 '53cdb2fc8bc7dce0b6741e2150273451',
 '47770eb9100c2d0c44946d9cf07ec65d',
 '949d5b44dbf5de918fe9c16f97b45f8a',
 'ad21c59c0840e6cb83a9ceb5573f8159',
 'a4591c265e18cb1dcee52889e2d8acc3',
 '6514b8ad8028c9f2cc2374ded245783f',
 '76c6e866289321a7c93b82b54852dc33',
 'e69bfb5eb88e0ed6a785585b27e16dbf',
 'e6ce16cb79ec1d90b1da9085a6118aeb']

In [155]:
ab = pd.DataFrame(orderID, columns={'Order ID'}) #create new dataframe

In [156]:
display(ab)

                               Order ID
0      e481f51cbdc54678b7cc49136f2d6af7
1      53cdb2fc8bc7dce0b6741e2150273451
2      47770eb9100c2d0c44946d9cf07ec65d
3      949d5b44dbf5de918fe9c16f97b45f8a
4      ad21c59c0840e6cb83a9ceb5573f8159
...                                 ...
96473  9c5dedf39a927c1b2549525ed64a053c
96474  63943bddc261676b46f01ca7ac2f7bd8
96475  83c1379a015df1e13d02aae0204711ab
96476  11c177c8e97725db2631073c19f07b62
96477  66dea50a8b16d9b4dee7af250b4be1a5

[96478 rows x 1 columns]

In [157]:
ab['Day Arrived']=dA #add list to dataframe
ab['Arrival Estimated']=dE
ab['Days Ahead or Behind Schedule']=days_ahead_or_behind

In [160]:
display(ab)

,Order ID,Day Arrived,Arrival Estimated,Days Ahead or Behind Schedule
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000,8
1,53cdb2fc8bc7dce0b6741e2150273451,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000,6
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000,18
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000,13
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000,10
...,...,...,...,...
96473,9c5dedf39a927c1b2549525ed64a053c,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000,11
96474,63943bddc261676b46f01ca7ac2f7bd8,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000,2
96475,83c1379a015df1e13d02aae0204711ab,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000,6
96476,11c177c8e97725db2631073c19f07b62,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000,21
96477,66dea50a8b16d9b4dee7af250b4be1a5,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000,18

In [161]:
ab.loc[ab['Days Ahead or Behind Schedule']>=0].shape #how many rows are ahead or at scheduled estimated time

(89944, 4)

In [162]:
ab.loc[ab['Days Ahead or Behind Schedule']<0].shape #how many rows are BEHIND Scheduled estimated time

(6534, 4)

In [163]:
netPos= (ab.loc[ab['Days Ahead or Behind Schedule']>=0].shape[0]/ab.shape[0])

In [164]:
print("{:.2%}".format(netPos)) # #how many rows are ahead or at scheduled estimated time as a percentage

93.23%

In [165]:
netNeg= (ab.loc[ab['Days Ahead or Behind Schedule']<0].shape[0]/ab.shape[0])

In [166]:
print("{:.2%}".format(netNeg)) # #how many rows are BEHIND scheduled estimated time as a percentage

6.77%

In [167]:
DelivOfWhole = orderBWI.shape[0]/orderBase.shape[0]

In [168]:
print("{:.2%}".format(DelivOfWhole)) #how much of the dataframe was composed of deliveries (non invocied)

97.02%

In [169]:
ab.loc[ab['Days Ahead or Behind Schedule']>=0] #how many rows are ahead or at scheduled estimated time displayed

,Order ID,Day Arrived,Arrival Estimated,Days Ahead or Behind Schedule
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000,8
1,53cdb2fc8bc7dce0b6741e2150273451,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000,6
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000,18
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000,13
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000,10
...,...,...,...,...
96473,9c5dedf39a927c1b2549525ed64a053c,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000,11
96474,63943bddc261676b46f01ca7ac2f7bd8,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000,2
96475,83c1379a015df1e13d02aae0204711ab,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000,6
96476,11c177c8e97725db2631073c19f07b62,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000,21
96477,66dea50a8b16d9b4dee7af250b4be1a5,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000,18

In [170]:
ab.loc[ab['Days Ahead or Behind Schedule']<0] #how many rows are BEHIND Scheduled estimated time displayed

,Order ID,Day Arrived,Arrival Estimated,Days Ahead or Behind Schedule
19,203096f03d82e0dffbc41ebc2e2bcfb7,2017-10-09 22:23:46.0000000,2017-09-28 00:00:00.0000000,-11
24,fbf9ac61453ac646ce8ad9783d7d0af6,2018-03-21 22:03:54.0000000,2018-03-12 00:00:00.0000000,-9
40,6ea2f835b4556291ffdc53fa0b3b95e8,2017-12-28 18:59:23.0000000,2017-12-21 00:00:00.0000000,-7
55,66e4624ae69e7dc89bd50222b59f581f,2018-04-03 13:28:46.0000000,2018-04-02 00:00:00.0000000,-1
56,a685d016c8a26f71a0bb67821070e398,2017-04-06 13:37:16.0000000,2017-03-30 00:00:00.0000000,-7
...,...,...,...,...
96434,b3112ca67f3afd4e20cf2ee91fc4f804,2018-08-21 00:03:26.0000000,2018-08-16 00:00:00.0000000,-5
96435,0fa1fab1d7c1211c824596ed5e111e3c,2018-04-05 19:59:49.0000000,2018-04-02 00:00:00.0000000,-3
96460,38e9133ce29f6bbe35aed9c3863dce01,2017-11-21 17:06:59.0000000,2017-10-31 00:00:00.0000000,-21
96462,d692ef54145c9cb3322ec2e5508aa3f4,2018-04-11 00:48:31.0000000,2018-04-09 00:00:00.0000000,-2
96469,cfa78b997e329a5295b4ee6972c02979,2018-01-26 15:45:14.0000000,2018-01-18 00:00:00.0000000,-8