In [1]:
#ideally this is to find a way to find how my money a specific product category generated
import pandas as pd
import pip
pip.main(["install","openpyxl"])
import openpyxl as xls

orderItems=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order items data.csv")

productInfo=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\product info data.csv")
productInEng=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\product name translator data.csv")
orderBase=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\order base data.csv")
customerData=pd.read_csv(r"C:\Users\osamw\Documents\Python for Buiness Analytics\customer base data.csv")
display(productInfo,orderItems,productInEng,orderBase,customerData)

C:\JupyterLab\resources\jlab_server\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in c:\jupyterlab\resources\jlab_server\lib\site-packages (3.0.9)

Requirement already satisfied: et-xmlfile in c:\jupyterlab\resources\jlab_server\lib\site-packages (from openpyxl) (1.1.0)

,product_id,product_category_name,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0
...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35.0000000,58.90
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13.0000000,239.90
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30.0000000,199.00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18.0000000,12.99
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51.0000000,199.90
...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01.0000000,299.99
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48.0000000,350.00
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25.0000000,99.90
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32.0000000,55.99
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13.0000000,43.00

                     product_name            english_translation
0           product_category_name  product_category_name_english
1                    beleza_saude                  health_beauty
2          informatica_acessorios          computers_accessories
3                      automotivo                           auto
4                 cama_mesa_banho                 bed_bath_table
..                            ...                            ...
67                         flores                        flowers
68             artes_e_artesanato          arts_and_craftmanship
69                fraldas_higiene            diapers_and_hygiene
70  fashion_roupa_infanto_juvenil      fashion_childrens_clothes
71             seguros_e_servicos          security_and_services

[72 rows x 2 columns]

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15.0000000,2017-10-04 19:55:00.0000000,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27.0000000,2018-07-26 14:31:00.0000000,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23.0000000,2018-08-08 13:50:00.0000000,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59.0000000,2017-11-22 13:39:59.0000000,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29.0000000,2018-02-14 19:46:34.0000000,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05.0000000,2017-03-10 11:18:03.0000000,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37.0000000,2018-02-07 23:22:42.0000000,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16.0000000,2017-08-28 20:52:26.0000000,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21.0000000,2018-01-12 15:35:03.0000000,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28.0000000,2018-03-09 22:11:59.0000000,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [3]:
#newCol1=[]
#newCol2=[]
#for num in range (32951) :
    #newCol1+=[orderItems.loc[orderItems.product_id==productInfo.iloc[num,0],'product_id'].count()]
#newCol1

In [4]:
#productInfo['number_of_purchases']=newCol1
display(productInfo)

,product_id,product_category_name,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0
...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0

In [5]:
orderItems.loc[orderItems["product_id"] == "a0b7d5a992ccda646f2d34e418fff5a0"].count() #confirmation of values are in place

order_id               33
order_item_id          33
product_id             33
seller_id              33
shipping_limit_date    33
price                  33
dtype: int64

In [5]:
dftbm=orderItems.drop(columns=['order_item_id', 'seller_id','shipping_limit_date'])
newdf=pd.merge(productInfo,dftbm,on="product_id",how="left")
newdf=newdf.drop(columns='product_photos_qty')
newdf

,product_id,product_category_name,order_id,price
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,e17e4f88e31525f7deef66779844ddce,10.91
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,5236307716393b7114b53ee991f36956,248.00
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,01f66e58769f84129811d43eefd187fb,79.80
3,cef67bcfe19066a932b7673e239eb23d,bebes,143d00a4f2dde4e0364ee1821577adb3,112.30
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,86cafb8794cb99a9b1b77fc8e48fbbbb,37.90
...,...,...,...,...
112645,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,59e88b7d3675e89aceaf86f372d3bc9a,29.90
112646,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112647,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112648,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112649,106392145fca363410d287a815be6de4,cama_mesa_banho,f3a47ba087f05d39a74ed1b653f0be1b,107.50

In [6]:
orderItems.loc[orderItems["product_id"] == "83808703fc0706a22e264b9d75f04a2e"]
#confirmation of values are in place

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price
29026,420937423f0cb3d3fe689330b5d385a9,1,83808703fc0706a22e264b9d75f04a2e,4324dd16853115efb0fd9d0d131ba6f4,2017-10-26 02:49:13.0000000,39.71
29027,420937423f0cb3d3fe689330b5d385a9,2,83808703fc0706a22e264b9d75f04a2e,4324dd16853115efb0fd9d0d131ba6f4,2017-10-26 02:49:13.0000000,39.71
39538,59e88b7d3675e89aceaf86f372d3bc9a,1,83808703fc0706a22e264b9d75f04a2e,4324dd16853115efb0fd9d0d131ba6f4,2018-01-10 03:32:09.0000000,29.90
39539,59e88b7d3675e89aceaf86f372d3bc9a,2,83808703fc0706a22e264b9d75f04a2e,4324dd16853115efb0fd9d0d131ba6f4,2018-01-10 03:32:09.0000000,29.90
48515,6e4465d771f02e4fe335225de3c6c043,1,83808703fc0706a22e264b9d75f04a2e,4324dd16853115efb0fd9d0d131ba6f4,2018-03-14 02:30:48.0000000,29.90
48516,6e4465d771f02e4fe335225de3c6c043,2,83808703fc0706a22e264b9d75f04a2e,4324dd16853115efb0fd9d0d131ba6f4,2018-03-14 02:30:48.0000000,29.90
48517,6e4465d771f02e4fe335225de3c6c043,3,83808703fc0706a22e264b9d75f04a2e,4324dd16853115efb0fd9d0d131ba6f4,2018-03-14 02:30:48.0000000,29.90

In [7]:
productInfo.loc[productInfo["product_id"] == "83808703fc0706a22e264b9d75f04a2e"]

,product_id,product_category_name,product_photos_qty
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0

In [8]:
newdf.loc[newdf["product_id"] == "83808703fc0706a22e264b9d75f04a2e"]

,product_id,product_category_name,order_id,price
112642,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,420937423f0cb3d3fe689330b5d385a9,39.71
112643,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,420937423f0cb3d3fe689330b5d385a9,39.71
112644,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,59e88b7d3675e89aceaf86f372d3bc9a,29.90
112645,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,59e88b7d3675e89aceaf86f372d3bc9a,29.90
112646,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112647,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112648,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90

In [9]:
display(newdf)

,product_id,product_category_name,order_id,price
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,e17e4f88e31525f7deef66779844ddce,10.91
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,5236307716393b7114b53ee991f36956,248.00
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,01f66e58769f84129811d43eefd187fb,79.80
3,cef67bcfe19066a932b7673e239eb23d,bebes,143d00a4f2dde4e0364ee1821577adb3,112.30
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,86cafb8794cb99a9b1b77fc8e48fbbbb,37.90
...,...,...,...,...
112645,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,59e88b7d3675e89aceaf86f372d3bc9a,29.90
112646,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112647,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112648,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90
112649,106392145fca363410d287a815be6de4,cama_mesa_banho,f3a47ba087f05d39a74ed1b653f0be1b,107.50

In [12]:
orderBase

,order_id,customer_id,order_status,date_approved,date_shipped,date_arrived,date_estimated
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15.0000000,2017-10-04 19:55:00.0000000,2017-10-10 21:25:13.0000000,2017-10-18 00:00:00.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27.0000000,2018-07-26 14:31:00.0000000,2018-08-07 15:27:45.0000000,2018-08-13 00:00:00.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23.0000000,2018-08-08 13:50:00.0000000,2018-08-17 18:06:29.0000000,2018-09-04 00:00:00.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59.0000000,2017-11-22 13:39:59.0000000,2017-12-02 00:28:42.0000000,2017-12-15 00:00:00.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29.0000000,2018-02-14 19:46:34.0000000,2018-02-16 18:17:02.0000000,2018-02-26 00:00:00.0000000
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05.0000000,2017-03-10 11:18:03.0000000,2017-03-17 15:08:01.0000000,2017-03-28 00:00:00.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37.0000000,2018-02-07 23:22:42.0000000,2018-02-28 17:37:56.0000000,2018-03-02 00:00:00.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16.0000000,2017-08-28 20:52:26.0000000,2017-09-21 11:24:17.0000000,2017-09-27 00:00:00.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21.0000000,2018-01-12 15:35:03.0000000,2018-01-25 23:32:54.0000000,2018-02-15 00:00:00.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28.0000000,2018-03-09 22:11:59.0000000,2018-03-16 13:08:30.0000000,2018-04-03 00:00:00.0000000

In [19]:
dftbm2=orderBase.drop(columns=['order_status','date_shipped','date_arrived','date_estimated'])
dftbm2

,order_id,customer_id,date_approved
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 11:07:15.0000000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-26 03:24:27.0000000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:55:23.0000000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:45:59.0000000
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 22:20:29.0000000
...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05.0000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 13:10:37.0000000
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 15:04:16.0000000
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:36:21.0000000
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-09 11:20:28.0000000

In [20]:
newdfStates=pd.merge(newdf,dftbm2,on="order_id",how="left")
newdfStates

,product_id,product_category_name,order_id,price,customer_id,date_approved
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,e17e4f88e31525f7deef66779844ddce,10.91,f8a3e963a310aa58b60a5b1fed5bceb5,2018-04-24 19:04:19.0000000
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,5236307716393b7114b53ee991f36956,248.00,03fc97548af8f58fefc768d12b546c9c,2018-01-31 19:11:15.0000000
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,01f66e58769f84129811d43eefd187fb,79.80,e41819d1c95c12c9ce495b630eab8aee,2018-07-09 21:30:20.0000000
3,cef67bcfe19066a932b7673e239eb23d,bebes,143d00a4f2dde4e0364ee1821577adb3,112.30,322162b5ca010c2b059cb5224dd818b1,2018-08-03 09:31:42.0000000
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,86cafb8794cb99a9b1b77fc8e48fbbbb,37.90,c11c31965ff02cc1d7132df8edfcbc22,2018-04-11 01:30:23.0000000
...,...,...,...,...,...,...
112645,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,59e88b7d3675e89aceaf86f372d3bc9a,29.90,e750210dde7e68dbd5194c0809e97f7e,2018-01-04 05:14:57.0000000
112646,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000
112647,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000
112648,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000
112649,106392145fca363410d287a815be6de4,cama_mesa_banho,f3a47ba087f05d39a74ed1b653f0be1b,107.50,b7fbfcea57659b5d18c20c95db45e908,2018-06-28 08:30:34.0000000

In [15]:

print(newdfStates['price'].sum())

13591643.7

In [22]:
customerData

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [23]:
dftbm3=customerData.drop(columns=['customer_unique_id', 'customer_city','customer_zip_code_prefix'])
dftbm3

                            customer_id customer_state
0      06b8999e2fba1a1fbc88172c00ba8bc7             SP
1      18955e83d337fd6b2def6b18a428ac77             SP
2      4e7b3e00288586ebd08712fdd0374a03             SP
3      b2b6027bc5c5109e529d4dc6358b12c3             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad             SP
...                                 ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f             SP
99437  e7b71a9017aa05c9a7fd292d714858e8             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e             CE
99439  56b18e2166679b8a959d72dd06da27f9             RS
99440  274fa6071e5e17fe303b9748641082c8             SP

[99441 rows x 2 columns]

In [24]:
newdfStates1=pd.merge(newdfStates,dftbm3,on="customer_id",how="left")
newdfStates1

,product_id,product_category_name,order_id,price,customer_id,date_approved,customer_state
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,e17e4f88e31525f7deef66779844ddce,10.91,f8a3e963a310aa58b60a5b1fed5bceb5,2018-04-24 19:04:19.0000000,SP
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,5236307716393b7114b53ee991f36956,248.00,03fc97548af8f58fefc768d12b546c9c,2018-01-31 19:11:15.0000000,RJ
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,01f66e58769f84129811d43eefd187fb,79.80,e41819d1c95c12c9ce495b630eab8aee,2018-07-09 21:30:20.0000000,SP
3,cef67bcfe19066a932b7673e239eb23d,bebes,143d00a4f2dde4e0364ee1821577adb3,112.30,322162b5ca010c2b059cb5224dd818b1,2018-08-03 09:31:42.0000000,SP
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,86cafb8794cb99a9b1b77fc8e48fbbbb,37.90,c11c31965ff02cc1d7132df8edfcbc22,2018-04-11 01:30:23.0000000,SP
...,...,...,...,...,...,...,...
112645,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,59e88b7d3675e89aceaf86f372d3bc9a,29.90,e750210dde7e68dbd5194c0809e97f7e,2018-01-04 05:14:57.0000000,MG
112646,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000,BA
112647,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000,BA
112648,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000,BA
112649,106392145fca363410d287a815be6de4,cama_mesa_banho,f3a47ba087f05d39a74ed1b653f0be1b,107.50,b7fbfcea57659b5d18c20c95db45e908,2018-06-28 08:30:34.0000000,MG

In [24]:
newdfStates1=pd.merge(newdfStates,dftbm3,on="customer_id",how="left")
newdfStates1

,product_id,product_category_name,order_id,price,customer_id,date_approved,customer_state
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,e17e4f88e31525f7deef66779844ddce,10.91,f8a3e963a310aa58b60a5b1fed5bceb5,2018-04-24 19:04:19.0000000,SP
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,5236307716393b7114b53ee991f36956,248.00,03fc97548af8f58fefc768d12b546c9c,2018-01-31 19:11:15.0000000,RJ
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,01f66e58769f84129811d43eefd187fb,79.80,e41819d1c95c12c9ce495b630eab8aee,2018-07-09 21:30:20.0000000,SP
3,cef67bcfe19066a932b7673e239eb23d,bebes,143d00a4f2dde4e0364ee1821577adb3,112.30,322162b5ca010c2b059cb5224dd818b1,2018-08-03 09:31:42.0000000,SP
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,86cafb8794cb99a9b1b77fc8e48fbbbb,37.90,c11c31965ff02cc1d7132df8edfcbc22,2018-04-11 01:30:23.0000000,SP
...,...,...,...,...,...,...,...
112645,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,59e88b7d3675e89aceaf86f372d3bc9a,29.90,e750210dde7e68dbd5194c0809e97f7e,2018-01-04 05:14:57.0000000,MG
112646,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000,BA
112647,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000,BA
112648,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,6e4465d771f02e4fe335225de3c6c043,29.90,0f139d1b208a62a37671423e5eff5016,2018-03-08 02:49:35.0000000,BA
112649,106392145fca363410d287a815be6de4,cama_mesa_banho,f3a47ba087f05d39a74ed1b653f0be1b,107.50,b7fbfcea57659b5d18c20c95db45e908,2018-06-28 08:30:34.0000000,MG

In [11]:

excelFile= pd.ExcelWriter('TopSellingProductsNew.xlsx')

newdf.to_excel(excelFile)

excelFile.save()

newdf.to_csv('TopSellingProductsNew.csv')

In [183]:
excelFile= pd.ExcelWriter('productcateg.xlsx')

productInEng.to_excel(excelFile)

excelFile.save()

productInEng.to_csv('productcateg.csv')

In [21]:
excelFile= pd.ExcelWriter('TopSellingProductsbyState.xlsx')

newdfStates1.to_excel(excelFile)

excelFile.save()

newdfStates1.to_csv('TopSellingProductsbyState.csv')